{% extends "studies/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div id="terms">

    <h3>
        I. Important terms
    </h3>
    <div class="row termsimp">


    </div>

</div>
<div>
    <p>
        Other terms
    </p>
    <div class="searchholder">
        <input type="text" class="form-control search" placeholder="Search for a term">
    </div>
    <div class="row mt-5 terms">


    </div>






</div>
<hr>

<div class="mt-5" id="shorts">
    <h3>
        II. Short stories
    </h3>
    <div class="searchholder">
        <input type="text" class="form-control searchst" placeholder="Search for a story">
    </div>
    <div class="shorts tabs mt-5">




    </div>
    <hr>
</div>

<script src="/static/js/studies/terms.js"></script>
<script src="/static/js/studies/shorts.js"></script>
{% endblock %}