{% extends 'admin/adminlyt.html' %}



{% block css%}
<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}

{% block main%}





<h1>
    Posts
</h1>

<div class="row ">
    {% for i in posts %}
    <div class="mb-2 col-md-3">
        <div class="card">
            <div class="card-header">
                {{i.title}}
            </div>
            <div class="card-body">
                <p>
                    {{i.slogan}}
                </p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/blog/post/{{i.id}}" type="button" class="btn btn-secondary">View</a>
                    <a href="edit/{{i.id}}" type="button" class="btn btn-secondary">Edit</a>
                    <form action="./deletepost/{{i.id}}" method="POST">
                        <button 
                        type="button" 
                        class="btn btn-danger delete">
                        Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<h1>
    Projects
</h1>
<div class="row ">


    {% for i in projects %}
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img src="../static/images/project{{i.id}}.jpg" class="img-fluid" alt="{{i.title}}">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.data}}</p>
            </div>
           
                <ul class="list-group list-group-flush">
                    <li class="btn list-group-item">
                        <a href="./updatepr/{{i.id}}">
                            Update
                        </a>
                    </li>
                    <li class="btn btn-danger list-group-item">
                        <form action="./deletepr/{{i.id}}" method="POST">
                            <div class="delete">
                                Delete
                            </div>
                        </form>
                    </li>
                </ul>

        </div>
    </div>






    {% endfor %}
</div>



{% block js %}
<script>
    $('.delete').each((i, e)=>{
        
        $(e).on('click', (el)=>{
            tar = $(e)
            el.preventDefault()
            let form = tar.parent()
            let r=confirm('Delete ?')
            if (r){
                form.submit()
            }
        })
        
    })
    
</script>
{% endblock %}
{% endblock %}