<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="themepaa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{title}} </title>
    <meta name="robots" content="unindex, unfollow">
    <meta name="google-site-verification" content="fGtZBzoqn622P46tyorLr-uRP4YdfCxS-n5XBK8grCc" />
    <!-- metas -->
    <!-- Favicon -->
        <link href="/static/images/fav.jpg" rel="icon">

    <!-- plugin CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/h2.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>

    {% block head %}
    {% endblock %}
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="70">
    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End -->
    <!-- Header Start -->
    <div class="mob-header mb-5 bg-dark">
        <div class="d-flex">
            <div class="navbar-brand">
                <div class="hl-top">
                    
                </div>
            </div>
            <button class="toggler-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <!-- End Header -->
    <!-- nav bar -->
    <header class="header-left" id="navbar-collapse-toggle">
        <div class="scroll-bar">
            <div class="hl-top">
                <div class="hl-logo">
                    <a href="/admin">
                        A
                    </a>
                </div>
            </div>


            <!-- nav -->
            <ul class="nav nav-menu d-flex flex-column">
                <li>
                    <a class="nav-link" href="/admin/createpost">
                        +Post
                    </a>
                </li>
            
                <li>
                    <a class="nav-link" href="/admin/createproject">
                        +Project
                    </a>
                </li>
            
                <li>
                    <a class="nav-link" href="/admin/createquiz">
                        +Quiz
                    </a>
                </li>
            
                <li>
                    <a class="nav-link" href="/admin/createlesson">
                        +Lesson
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/addlaptop">
                        +laptop
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/" traget="_blank">
                        Home
                    </a>
                </li>
            
            </ul>
        </div>
    </header>
    <!-- End nav bar -->
    <!-- Main Start -->
    <main class="main-left">
        <div class="container mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c, m in messages %}
            <div class="alert alert-{{c}} mt-5">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </main>
    


    <!-- jquery -->
    <script src="/static/js/bootstrappooper.min.js"></script>

    
    <script src="/static/js/h2.js"></script>
    {% block js%}
    {% endblock %}
    <!-- end appear -->
    <!--bootstrap-->
    
    <!-- end -->
</body>
<!-- Body End -->

</html>