{% extends 'admin/adminlyt.html' %}


{% block css%}
<link rel="stylesheet" href="../../static/css/admin.css">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
{% endblock %}

{% block content %}

{% if update %}
<form action="/admin/edit/{{postid}}" method="POST" dir="{% if p.lang=='fr' %}ltr{% else %}rtl{% endif %}">


    <br>
    <div class="form-outline mb-4">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value=" {{p.title}} " />
    </div>


    <div class="form-outline mb-4">
        <label class="form-label">Content</label>
        <textarea name="content" class="form-control" rows="8">
        {{p.content}}
        </textarea>
    </div>

    <!-- Checkbox 
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form5Example3" checked />
                        <label class="form-check-label">
                            I have read and agree to the terms
                        </label>
                    </div>-->

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>


    <!-- Name input -->

</form>
<form action="/admin/deletepost/{{p.id}}", method="post">
    <button class="btn btn-danger deletepost">Delete</button>
</form>
{% else %}


<!-- create form -->

<form action="/admin/createpost" method="POST" enctype="multipart/form-data">

    <br>
    <div class="row">
        <div class="form-outline mb-4 col-md-6">
            <label class="form-label">Title</label>
            <input type="text" name="title" class="form-control" />
        </div>
        <div class="form-outline mb-4 col-md-6">
            <label class="form-label">language</label>
            <select class="form-select" aria-label="Default select example" name="lang">
                <option value="fr" selected>fr</option>
                <option value="ar">ar</option>
            </select>
        </div>
    </div>


    <div class="form-outline mb-4">
        <label class="form-label">Content</label>
        <textarea name="content" class="form-control" rows="8"></textarea>
    </div>


    <button type="submit" class="btn btn-primary btn-block mb-4">Post</button>


    <!-- Name input -->

</form>


{% endif %}




{% endblock %}
{% block js %}
<script>
    $('.deletepost').click(() => {
        console.log('clicked')
    })
</script>
{% endblock %}

