{% extends 'admin/adminlyt.html' %}



{% block head%}
<!-- include summernote css/js -->
<link href="/static/css/admin/wysiwyg.css" rel="stylesheet">
<script src="/static/js/admin/wsiwyg.js"></script>

{% endblock %}

{% block content %}

{% if update %}
<form action="/admin/edit/{{p.id}}" method="POST" dir="{% if p.lang=='fr' %}ltr{% else %}rtl{% endif %}" class="form">


    <br>
    <div class="form-outline mb-4">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value=" {{p.title}} " />
    </div>


    
    <div id="summernote"></div>
    <textarea name="content" class="form-control content" hidden></textarea>

    <!-- Checkbox 
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form5Example3" checked />
                        <label class="form-check-label">
                            I have read and agree to the terms
                        </label>
                    </div>-->

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block my-2 submit2">Update</button>


    <!-- Name input -->

</form>
<form action="/admin/deletepost/{{p.id}}", method="post">
    <button class="btn btn-danger deletepost">Delete</button>
</form>
{% else %}


<!-- create form -->

<form action="/admin/createpost" method="POST" enctype="multipart/form-data" class="form">

    <br>
    <div class="row">
        <div class="form-outline mb-4 col-md-6">
            <label class="form-label">Title</label>
            <input type="text" name="title" class="form-control" />
        </div>
        <div class="form-outline mb-4 col-md-6">
            <label class="form-label">language</label>
            <select class="form-select lang" aria-label="Default select example" name="lang">
                <option value="fr" selected>fr</option>
                <option value="ar">ar</option>
            </select>
        </div>
    </div>


    
    <div id="summernote"></div>
    <textarea name="content" class="form-control content" hidden ></textarea>

    <button type="submit" class="mt-2 btn btn-primary btn-block mb-4 submit2">Post</button>


    <!-- Name input -->

</form>


{% endif %}




{% endblock %}
{% block js %}
<script>
    $('#summernote').summernote({
        tabsize: 1,
        height: 400,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
    // $('.note-editable').html("{{content}}");
    $('#summernote').summernote('code', '{{content}}');

</script>
<script>
    // watch the lang input and edit the direction of .note-editor
    $('select[name=lang]').on('change', ()=>{
        if($('input[name=lang]').val()=='fr'){
            $('.note-editor').attr('dir','ltr');
        }else{
            $('.note-editor').attr('dir','rtl');
        }
    });
    $('.submit2').on('click', function(e) {
        e.preventDefault();
        var content = $('.note-editable').html();
        $('.content').html(content);
        $('.form').submit()
    });

    $('.deletepost').click(() => {
        console.log('clicked')
    })
</script>
{% endblock %}

