{% extends 'studies/quizlyt.html' %}

{% block meta %}
<meta name="description" content="this is grammar 2 section">
{% endblock %}
<!--nav bar block -->
{% block nav %}
<div class="nav-top">
    <span class="d-inline-block  ls-3 fw-600 text-current font-xl logo-text mb-0">{{title}}.
    </span>
</div>

<div class="card bg-primary border-0 mb-3 shadow-xss rounded-lg">
    <div class="card-body">
        <h4 class="text-white fw-500 mb-4 lh-24 font-xssss">
            About {{title}}
        </h4>


    </div>
</div>

<div>
        
    <h2 class="font-xsssss fw-700 text-uppercase ls-3 ">Program</h2>

    <div id="accordion" class="mb-5">
        <!-- passive voice -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">Passive voice</button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#1" class="ps-3 font-xsss border-bottom">Formatting the passive</a>
                    <a href="#2" class="ps-3 font-xsss border-bottom">Using the passive</a>
                    <a href="#2" class="ps-3 font-xsss border-bottom">Indirect object as passive subject</a>
                    <a href="#3" class="ps-3 font-xsss border-bottom">Madals and phrasal modals</a>
                    <a href="#4" class="ps-3 font-xsss border-bottom">Stative passive</a>
                    <a href="#5" class="ps-3 font-xsss border-bottom">Preposition + stative passive verbs</a>
                    <a href="#6" class="ps-3 font-xsss border-bottom">Passive with get</a>
                    <a href="#7" class="ps-3 font-xsss border-bottom">Participal adjectives</a>
                    <a href="#8" class="ps-3 font-xsss border-bottom">Formatting the passive</a>
                </div>
            </div>
        </div>

        <!--  noun clause -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapset"
                        aria-expanded="false" aria-controls="collapset">Noun clauses</button>
                </h5>
            </div>
        
            <div id="collapset" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#10" class="ps-3 font-xsss border-bottom">Introductio</a>
                    <a href="#11" class="ps-3 font-xsss border-bottom">N.C beginning with a question word</a>
                    <a href="#12" class="ps-3 font-xsss border-bottom">N.C beginning with if/weather</a>
                    <a href="#13" class="ps-3 font-xsss border-bottom">Question words + infinitif</a>
                    <a href="#14" class="ps-3 font-xsss border-bottom">NC beginning with that</a>
                    <a href="#15" class="ps-3 font-xsss border-bottom">Quoted speech</a>
                    <a href="#16" class="ps-3 font-xsss border-bottom">Reported speech</a>
                    <a href="#17" class="ps-3 font-xsss border-bottom">Using subjonctive in noun clause</a>
                    <a href="#18" class="ps-3 font-xsss border-bottom">Using -ever words</a>
                </div>
            </div>
        </div>

        <!-- adjective clause -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse3"
                        aria-expanded="false" aria-controls="collapse3">Adjective clauses</button>
                </h5>
            </div>
        
            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#19" class="ps-3 font-xsss border-bottom">Introduction</a>
                    <a href="#20" class="ps-3 font-xsss border-bottom">A.C pronouns as a verb's object</a>
                    <a href="#21" class="ps-3 font-xsss border-bottom">A.C as a prepositions' object</a>
                    <a href="#22" class="ps-3 font-xsss border-bottom">Usual patterns</a>
                    <a href="#23" class="ps-3 font-xsss border-bottom">Using whose/where/when</a>
                    <a href="#24" class="ps-3 font-xsss border-bottom">A.C to modify pronouns</a>
                    <a href="#25" class="ps-3 font-xsss border-bottom">Punctuation</a>
                    <a href="#26" class="ps-3 font-xsss border-bottom">Expression of quantity</a>
                    <a href="#27" class="ps-3 font-xsss border-bottom">Using noun + of which</a>
                    <a href="#28" class="ps-3 font-xsss border-bottom">Using which </a>
                    <a href="#29" class="ps-3 font-xsss border-bottom">A.C to adjective phrase</a>
                </div>
            </div>
        </div>

        <!-- Gerund and infinitves I -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse4"
                        aria-expanded="false" aria-controls="collapse4">Gerund and infinitves I</button>
                </h5>
            </div>
        
            <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#30" class="ps-3 font-xsss border-bottom">Introduction</a>
                    <a href="#31" class="ps-3 font-xsss border-bottom">Gerund as a prepositions's object</a>
                    <a href="#32" class="ps-3 font-xsss border-bottom">Prepostions + gerund</a>
                    <a href="#33" class="ps-3 font-xsss border-bottom">Verbs + gerund</a>
                    <a href="#34" class="ps-3 font-xsss border-bottom">GO + gerund</a>
                    <a href="#35" class="ps-3 font-xsss border-bottom">Expressions + gerund</a>
                    <a href="#36" class="ps-3 font-xsss border-bottom">Verbs + infinitves</a>
                    <a href="#37" class="ps-3 font-xsss border-bottom">Verbs + gerunds/infinitves</a>
                </div>
            </div>
        </div>

        <!-- Gerund and infinitves II -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">Gerund and infinitves II</button>
                </h5>
            </div>
        
            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#38" class="ps-3 font-xsss border-bottom">Infinitives of purpose</a>
                    <a href="#39" class="ps-3 font-xsss border-bottom">Adjectives + infinitives</a>
                    <a href="#40" class="ps-3 font-xsss border-bottom">Infinitives with too and enough</a>
                    <a href="#41" class="ps-3 font-xsss border-bottom">Passive and past form of infinitives/gerunds</a>
                    <a href="#42" class="ps-3 font-xsss border-bottom">gerunds or passives infinitives + need</a>
                    <a href="#43" class="ps-3 font-xsss border-bottom">Possessive to modify a gerund</a>
                    <a href="#44" class="ps-3 font-xsss border-bottom">Using verbs of perception</a>
                    <a href="#45" class="ps-3 font-xsss border-bottom">Using the simple form after let&help</a>
                    <a href="#45" class="ps-3 font-xsss border-bottom">Casuative verbs</a>
                </div>
            </div>
        </div>

        <!-- Coordinating conjunctions -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">Coordinating conjunctions</button>
                </h5>
            </div>
        
            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#46" class="ps-3 font-xsss border-bottom">Parallel structure</a>
                    <a href="#47" class="ps-3 font-xsss border-bottom">Both...and - ont only...but - either...or</a>
                    <a href="#48" class="ps-3 font-xsss border-bottom">Combining independent clause with coordinationg conjunctions</a>
                </div>
            </div>
        </div>

        <!-- Adverb clauses -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">Adverb clauses</button>
                </h5>
            </div>
        
            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#49" class="ps-3 font-xsss border-bottom">Introduction</a>
                    <a href="#50" class="ps-3 font-xsss border-bottom">Show cause and effect</a>
                    <a href="#51" class="ps-3 font-xsss border-bottom">Contrast</a>
                    <a href="#52" class="ps-3 font-xsss border-bottom">Direct contrast</a>
                    <a href="#53" class="ps-3 font-xsss border-bottom">Conditions in adverb clause</a>
                </div>
            </div>
        </div>

        <!-- Reduction of adverb clauses to modify adverbial phrases -->
        <div class="card mb-2">
            <div class="" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">Reduction of adverb clauses to modify adverbial phrases</button>
                </h5>
            </div>
        
            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex flex-column">
                    <a href="#54" class="ps-3 font-xsss border-bottom">Introduction</a>
                    <a href="#55" class="ps-3 font-xsss border-bottom">Changing time clause</a>
                    <a href="#56" class="ps-3 font-xsss border-bottom">Expressing the idea of "during the same time"</a>
                    <a href="#57" class="ps-3 font-xsss border-bottom">Expressing cause and effect in modifying adverbial phrases</a>
                    <a href="#58" class="ps-3 font-xsss border-bottom">Using upon + -ing in modifying adverbial phrases</a>
                </div>
            </div>
        </div>

    </div>

    <form method="post" id="verb">
    <input type="search" name="word" id="verb" placeholder="input a verb" class="form-control">
    </form>
    <div class="result">
        <span></span>
        <h3></h3>
        <h4></h4>
        <h5></h5>
    </div>
    
</div>


{% endblock %}






{% block contentq %}
<div class="middle-sidebar-left">
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for c, m in messages %}
        <div class="col-12 mt-5 alert alert-{{c}} alert-dismissible fade show d-flex justify-content-between"
            role="alert">
            <div>
                <strong>{{m}}</strong>
            </div>
            <button type="button" class="btn btn-primary close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- <div class="col-xl-4 col-xxl-3">
            <div class="card bg-primary border-0 shadow-xss rounded-lg">
                <div class="card-body">
                    <h2 class="text-white font-xsssss fw-700 text-uppercase ls-3 ">{{title}}</h2>
                    <h4 class="text-white fw-500 mb-4 lh-24 font-xssss">
                        About {{title}}
                    </h4>
                    

                </div>
            </div>
           
        </div> -->

        <div class="course">
            {{course}}
        </div>

    </div>
    <div class="course">
        <h1 id="Formatting">
            Formatting the passive
        </h1>
        <kbd>
            hsdfhsdf + kjfdgksd +fg s
        </kbd>
    </div>
</div>





{% endblock %}


{% block js %}
<script>
   $('#verb').on('submit', (e)=>{
       $('.result>h3').text('')
       $('.result>h4').text('')
       $('.result>h5').text('')
       $('.result>span').text('9l yan imik')

       word= $($('#verb').find('input')).val()
       e.preventDefault()
       $.ajax({
           url:'/studies/getverb',
           method:'post',
           data:{
               word:word
           },
           success:(data)=>{
               $('.result>span').text('')
               r= data.data.split(':')
               $('.result>h3').text(word)
               $('.result>h4').text(r[0])
               $('.result>h5').text(r[1])
               console.log(data)
           },
           error:(err)=>{
               $('.result>span').text('Check if there is a typo')
               console.log(err)
           }
       })
   })


</script>
{% endblock %}