{% extends "studies/grammarlyt.html" %}


{% block grc %}

            <div class="d-flex justify-content-between bg-primary p-2 rounded mb-5">
                <a href="" class="btn text-white" disabled>
                    << 
                </a>
                <a href="./time" class="btn text-white">Adv. clauses >></a>
            </div>
            <div>
                <div class="border rounded">
                    <h1 class="title text-center">
                        Present
                    </h1>
                    <div class="tabs presentholder">
                        
                    </div>
                </div>
            
                <br><br>
            
                <div class="border rounded">
                    <h1 class="title text-center">
                        Past
                    </h1>
                    <div class="tabs pastholder">
                        
                    </div>
                </div>
            
                <br><br>
            
                <div class="border rounded">
                    <h1 class="title text-center">
                        Future
                    </h1>
                    <div class="tabs futureholder">
                        
                    </div>
                </div>
                <hr>
                <h1>
                    Will vs Going to
                </h1>
                <table class="table table-bordered mt-5">
                    Both Will and Going to can be used for making future predictions without having a real difference in meaning.
                    <p>
                        I think it will be foggy tomorrow. = I think it is going to be foggy tomorrow.
                    </p>
                    <thead>
                        <tr>
                            <th>Will</th>
                            <th>Going to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                actions decided at the moment of speaking
                                <hr>
                                Will is used to indicate a prediction based on personal opinions or experiences
                                <hr>
                                expresses a future fact;
                                <hr>
                                make a promise, an offer, a threat or refusal.

                            </td>
                            <td>
                                describes future plans decided before the moment of speaking.
                                <hr>
                                express a prediction based on present evidence.
                                <hr>
                                describe something is about to happen
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            
            <hr class="mt-5">
            <h2 class="mb-3">
                <u>
                    <b>
                        Exercices
                    </b>
                </u>
            </h2>
            <div class="exholder"> 
            
            
            
            </div>

            <div id="st" class="mt-5">
                <h1>
                    Stative verbs
                </h1>
                <p>Some English verbs, which we call state, non-continuous or stative verbs, aren't used in continuous tenses (like the present continuous, or the future continuous). These verbs often describe states that last for some time. Here is a list of some common ones:
                
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td width="33%">like</td>
                            <td width="33%">know</td>
                            <td width="33%">belong</td>
                        </tr>
                        <tr>
                            <td>love</td>
                            <td>realise</td>
                            <td>fit</td>
                        </tr>
                        <tr>
                            <td>hate</td>
                            <td>suppose</td>
                            <td>contain</td>
                        </tr>
                        <tr>
                            <td>want</td>
                            <td>mean</td>
                            <td>consist</td>
                        </tr>
                        <tr>
                            <td>need</td>
                            <td>understand</td>
                            <td>seem</td>
                        </tr>
                        <tr>
                            <td>prefer</td>
                            <td>believe</td>
                            <td>depend</td>
                        </tr>
                        <tr>
                            <td>agree</td>
                            <td>remember</td>
                            <td>matter</td>
                        </tr>
                        <tr>
                            <td>mind</td>
                            <td>recognise</td>
                            <td>see</td>
                        </tr>
                        <tr>
                            <td>own</td>
                            <td>appear</td>
                            <td>look (=seem)</td>
                        </tr>
                        <tr>
                            <td>sound</td>
                            <td>taste</td>
                            <td>smell</td>
                        </tr>
                        <tr>
                            <td>hear</td>
                            <td>astonish</td>
                            <td>deny</td>
                        </tr>
                        <tr>
                            <td>disagree</td>
                            <td>please</td>
                            <td>impress</td>
                        </tr>
                        <tr>
                            <td>satisfy</td>
                            <td>promise</td>
                            <td>surprise</td>
                        </tr>
                        <tr>
                            <td>doubt</td>
                            <td>think (=have an opinion)</td>
                            <td>feel (=have an opinion)</td>
                        </tr>
                        <tr>
                            <td>wish</td>
                            <td>imagine</td>
                            <td>concern</td>
                        </tr>
                        <tr>
                            <td>dislike</td>
                            <td>be</td>
                            <td>have</td>
                        </tr>
                        <tr>
                            <td>deserve</td>
                            <td>involve</td>
                            <td>include</td>
                        </tr>
                        <tr>
                            <td>lack</td>
                            <td>measure (=have length etc)</td>
                            <td>possess</td>
                        </tr>
                        <tr>
                            <td>owe</td>
                            <td>weigh (=have weight)</td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

       









{% endblock %}



{% block js %}
<script src="/static/js/studies/grammar.js"></script>

{% endblock %}