{% extends 'studies/readinglyt.html' %}

{% block readingc%}
    <div id="idea">
        <h1>
            I. Identifying main idea and deteils
        </h1>
        <p class="text-center p-3">
            The rain forest is home to many creatures.
            Monkeys along with many other animals live in the rain forest. blue Morph butterflies and anteaters also live in
            the rain forest, and so do Sloths? tapirs an other creatures.
        </p>
    
        <p class="mt-5">
            The main idea: <span class="answer">
                The rain forest is home to many creatures.
            </span>
        </p>
        <p>
            The main idea can be found by choping off all deteils and explinations, it's not always at the begining of the
            paragraph
        </p>
    
    </div>

    <div id="ext" class="mt-5">
        <h1>
            II. Extensive and intensive reading
        </h1>
        <p>
            Extensive Reading (ER) is the process of reading longer easier texts for an extended period of time without a
            breakdown of comprehension, feeling overwhelmed, or the need to take breaks.
        </p>
    
        <p>
            Intensive Reading is focusing on a close reading of dense shorter texts, typically not read for pleasure.
        </p>
    </div>

    <div id="sk" class="mt-5">
        <h1>
            III. Skimming and scanning
        </h1>
        <p>
            Skimming and scanning are reading techniques that use rapid eye movement and keywords to move quickly through text for
            slightly different purposes.
        </p>
    
        <p>
            Skimming is reading rapidly in order to get a general overview of the material.
        </p>
        <p>
            Scanning is reading rapidly in order to find specific facts. While skimming tells you what general information is within
            a section, scanning helps you locate a particular fact. Skimming is like snorkeling, and scanning is more like pearl
            diving.
        </p>
        <p>
            Steps to follow to skim:
        </p>
        <ol>
            <li>Read the <em>table of contents</em> or <em>chapter overview</em> to learn the main divisions of ideas.</li>
            <li>Glance through the main headings in each chapter just to see a word or two. Read the <em>headings of charts and
                    tables</em>.</li>
            <li>Read the entire <em>introductory paragraph</em> and then the <em>first and last sentence</em> only of each
                following paragraph. For each paragraph, read only the first few words of each sentence or to locate the main
                idea.</li>
            <li>Stop and quickly read the sentences containing <em>keywords</em> indicated in boldface or italics.</li>
            <li>When you think you have found something significant, stop to read the entire sentence to make sure. Then go on
                the same way. Resist the temptation to stop to read details you don't need.</li>
            <li>Read <em>chapter summaries</em> when provided.</li>
        </ol>
    </div>

    <div id="vk" class="mt-5">
        <h1>
            IV. Vocabulary in context
        </h1>
       
    </div>


{% endblock %}