{% extends "studies/grammarlyt.html" %}


{% block grc %}

        <div class="d-flex justify-content-between bg-primary p-2 rounded mb-5">
            <a href="./time" class="btn text-white"><< Adv. of time</a>
        </div>
    
        <div>
            <h1>What are modal verbs?</h1>
            <p>
                They are special verbs that behave irregularly in English. They are different from normal verbs. They give additional information about the function of the main verb that follows it.
            </p>
            <table class="table table-bordered border-primary">
                <tbody>
                    <tr>
                        <th>Modal Verb</th>
                        <th>Expressing</th>
                        <th>Example</th>
                    </tr>
                    <tr>
                        <th rowspan="2"> must, have to, have got to</th>
                        <td>Strong obligation</td>
                        <td>You must stop when the traffic lights turn red. </td>
                    </tr>
                    <tr>
                        <td>logical conclusion / Certainty </td>
                        <td>He must be very tired. He's been working all day long. </td>
                    </tr>
                    <tr>
                        <th> must not</th>
                        <td>prohibition</td>
                        <td>You must not smoke in the hospital.</td>
                    </tr>
                    <tr>
                        <th> have not</th>
                        <td>lack of necessity</td>
                        <td>I can hear you, you don't have to shout.</td>
                    </tr>
                    <tr>
                        <th rowspan="3">can</th>
                        <td>ability </td>
                        <td>I can swim.</td>
                    </tr>
                    <tr>
                        <td>permission</td>
                        <td>Can I use your phone, please? </td>
                    </tr>
                    <tr>
                        <td>possibility</td>
                        <td>Smoking can cause cancer.</td>
                    </tr>
                    <tr>
                        <th rowspan="3"> could</th>
                        <td>ability in the past </td>
                        <td>When I was younger I could run fast. </td>
                    </tr>
                    <tr>
                        <td>polite permission </td>
                        <td>Excuse me, could I just say something?</td>
                    </tr>
                    <tr>
                        <td>possibility</td>
                        <td>It could rain tomorrow!</td>
                    </tr>
                    <tr>
                        <th rowspan="2"> may</th>
                        <td>polite permission</td>
                        <td>May I use your phone, please?</td>
                    </tr>
                    <tr>
                        <td>possibility, probability </td>
                        <td>It may rain tomorrow! </td>
                    </tr>
                    <tr>
                        <th rowspan="2"> might</th>
                        <td> polite permission</td>
                        <td>Might I suggest an idea?</td>
                    </tr>
                    <tr>
                        <td>possibility, probability</td>
                        <td>I might go on holiday to Australia next year.</td>
                    </tr>
                    <tr>
                        <th> need not</th>
                        <td>lack of necessity/absence of obligation </td>
                        <td>I need not buy tomatoes. There are plenty of tomatoes in the fridge. </td>
                    </tr>
                    <tr>
                        <th rowspan="3"> should/ought to</th>
                        <td>50 % obligation </td>
                        <td>I should / ought to see a doctor. I have a terrible headache. </td>
                    </tr>
                    <tr>
                        <td>advice</td>
                        <td>You should / ought to revise your lessons </td>
                    </tr>
                    <tr>
                        <td>logical conclusion</td>
                        <td>He should / ought to be very tired. He's been working all day long. </td>
                    </tr>
                    <tr>
                        <th>had better, should, ought to</th>
                        <td>advice</td>
                        <td>You'd better revise your lessons </td>
                    </tr>
                    <tr>
                        <th>should have, should not have</th>
                        <td>regret [not] doing an action</td>
                        <td>I had a test this morning, I should have studied</td>
                    </tr>
                    <tr>
                        <th>be supposed to</th>
                        <td>Expectation</td>
                        <td>The game is supposed to bigin at 10:00</td>
                    </tr>
                    <tr>
                        <th>let's, why not, sall [we/I]</th>
                        <td>Making suggestion</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <table class="mt-5 table table-bordered border-primary">
            <tbody>
                <tr>
                    <th>Degrees of Certainty : Present time</th>
                    <th>modals</th>
                    <th>Expression</th>
                </tr>
                <tr>
                    <td>95%</td>
                    <td>
                        Must
                    </td>
                    <td>
                        He must be sick
                    </td>
                </tr>
                <tr>
                    <td>
                        less than 50%
                    </td>
                    <td>
                        May be, might be, could be
                    </td>
                    <td>
                        He might be sick
                    </td>
                </tr>
        
            </tbody>
        </table>
        <table class="table table-bordered border-primary">
            <tbody>
                <tr>
                    <th>Degrees of Certainty : Present time Negative</th>
                    <th>modals</th>
                    <th>Expression</th>
                </tr>
                <tr>
                    <td>95%</td>
                    <td>
                        Must not, could not, can not
                    </td>
                    <td>
                        He can't be sick
                    </td>
                </tr>
                <tr>
                    <td>
                        less than 50%
                    </td>
                    <td>
                        May not be, might not be
                    </td>
                    <td>
                        He might not be sick
                    </td>
                </tr>
        
            </tbody>
        </table>
        <table class="table table-bordered border-primary">
            <tbody>
                <tr>
                    <th>Degrees of Certainty : Past time</th>
                    <th>modals</th>
                    <th>Expression</th>
                </tr>
                <tr>
                    <td>95%</td>
                    <td>
                        Mast have been
                    </td>
                    <td>
                        He must have been sick
                    </td>
                </tr>
                <tr>
                    <td>
                        less than 50%
                    </td>
                    <td>
                        [May, might, could] have been
                    </td>
                    <td>
                        He might have been be sick
                    </td>
                </tr>
        
            </tbody>
        </table>
        <table class="table table-bordered border-primary">
            <tbody>
                <tr>
                    <th>Degrees of Certainty : future time</th>
                    <th>modals</th>
                    <th>Expression</th>
                </tr>
                <tr>
                    <td>95%</td>
                    <td>
                        [should, ought to] do
                    </td>
                    <td>
                        He should do well
                    </td>
                </tr>
                <tr>
                    <td>
                        less than 50%
                    </td>
                    <td>
                        [May, might, could] do
                    </td>
                    <td>
                        He might do well
                    </td>
                </tr>
        
            </tbody>
        </table>

        <div class="mt-5">
            <div class="modals tabs">
                
            </div>
        </div>
       









{% endblock %}



{% block js %}
<script src="/static/js/studies/modals.js"></script>

{% endblock %}