{% extends "studies/grammarlyt.html" %}


{% block grc %}

            <div class="d-flex justify-content-between bg-primary p-2 rounded mb-5">
                <a href="" class="btn text-white" disabled>
                    << 
                </a>
                <a href="./time" class="btn text-white">Adv. clauses >></a>
            </div>
            <div>
                <div class="border rounded">
                    <h1 class="title text-center">
                        Present
                    </h1>
                    <div class="tabs presentholder">
                        
                    </div>
                </div>
            
                <br><br>
            
                <div class="border rounded">
                    <h1 class="title text-center">
                        Past
                    </h1>
                    <div class="tabs">
                        
                    </div>
                </div>
            
                <br><br>
            
                <div class="border rounded">
                    <h1 class="title text-center">
                        Future
                    </h1>
                    <div class="tabs">
                        
                    </div>
                </div>
                <hr>
                <h1>
                    Will vs Going to
                </h1>
                <table class="table table-bordered mt-5">
                    Both Will and Going to can be used for making future predictions without having a real difference in meaning.
                    <p>
                        I think it will be foggy tomorrow. = I think it is going to be foggy tomorrow.
                    </p>
                    <thead>
                        <tr>
                            <th>Will</th>
                            <th>Going to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                actions decided at the moment of speaking
                                <hr>
                                Will is used to indicate a prediction based on personal opinions or experiences
                                <hr>
                                expresses a future fact;
                                <hr>
                                make a promise, an offer, a threat or refusal.

                            </td>
                            <td>
                                describes future plans decided before the moment of speaking.
                                <hr>
                                express a prediction based on present evidence.
                                <hr>
                                describe something is about to happen
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            
            <hr class="mt-5">
            <h2 class="mb-3">
                <u>
                    <b>
                        Exercices
                    </b>
                </u>
            </h2>
            <div class="exholder"> 
            
            
            
            </div>

       









{% endblock %}



{% block js %}
<script src="/static/js/studies/grammar.js"></script>

{% endblock %}