{% extends "studies/grammarlyt.html" %}


{% block grc %}

        <div class="d-flex justify-content-between bg-primary p-2 rounded mb-5">
            <a href="./tenses" class="btn text-white"><< Tenses</a>
            <a href="./modals" class="btn text-white">Modals >></a>
        </div>
    
            <div>
                <p class="text-center">
                    <strong data-toggle="tooltip" data-placement="top" title="Time clause">
                        When the phone rang<span class="answer">,</span> 
                    </strong>the baby woke up<span class="answer">.</span>
                </p>

                <h1 class="mt-5">
                    <u>
                        Important!!
                    </u>
                </h1>
                <p>
                    "When the phone rang" is an adverb clause of time (time clause), used to indicate time, it's a dependent
                    clasue, the second part is the main clause and it's independent, in order too show the depndency, you need to put a
                    comma (,) after the time clause with capiralization.
                </p>

                <p>
                    You can start with the main clause if you want to avoid all of this
                <br>
                    <strong data-toggle="tooltip" data-placement="top" title="Time clause">
                        The baby woke up 
                    </strong>when the phone rang<span class="answer">.</span>
                </p>

                <strong class="text-danger">
                    Never use FUTURE in a time clasue.
                </strong>
                <p>
                    <del>
                        We will have a big partly when you will graduate
                        <i class="answer">X</i>
                    </del>
                </p>
                <p>
                    We will have a big partly when you graduate.
                    <i class="bi bi-check"></i>
                </p>
            </div>

            <div class="border rounded">
                <h1 class="title text-center">
                    Adverb clauses and time
                </h1>
                <div class="tabs here">
                    
                </div>
            </div>
            
       









{% endblock %}



{% block js %}
<script src="/static/js/studies/time.js"></script>

{% endblock %}