{% extends "studies/languagelyt.html" %}


{% block languagec %}
    <div id="com" class="card p-2">
        <h1 class="title">
            Communication
        </h1>
        <div class="tabs">
            <div class="tab">
                <input hidden type="checkbox" id="defcom">
                <label class="tab-label text-primary" for="defcom">Definition</label>
                <div class="tab-content">
                    La communication correspond à un processus d’interaction et de transmission
                    d’informations entre plusieurs personnes dans le but de partager un sens.
                </div>
            </div>

            <div class="tab">
                <input hidden type="checkbox" id="tpcom">
                <label class="tab-label text-primary" for="tpcom">Types</label>
                <div class="tab-content">
                    <b>- La communication verbale</b> est celle établie à travers l’interaction, c’est-à-dire
                    l’utilisation des signes linguistiques. Elle englobe la parole, les écrits, la langue des
                    signes, les médias : tous ce qui s’exprime par le langage (écrit et/ou orale). <br>
                    <b>- La communication non verbale</b> est liée au langage corporel, notre corps communique
                    avec les autres de façon involontaire, par les gestes, les regards, les expressions, la3
                    démarche, la posture…C’est aussi, celle exprimée implicitement sans l’utilisation du
                    langage, tel que (l’art, la musique, le dessin, la tenue vestimentaire, les couleurs, les
                    odeurs…)
                </div>
            </div>
        </div>

        <div class="tabs">
            <div class="tab">
                <input hidden type="checkbox" id="chm">
                <label class="tab-label text-primary" for="chm">Chéma de la communication</label>
                <div class="tab-content">
                    <b>Le message</b> : C’est ce que l’on adresse à autrui pour lui faire parvenir une information
                    (Message verbal et non verbal). <br>
                    <b>L’émetteur</b> : C’est celui qui compose et envoie le message. <br>
                    <b>Le récepteur</b> : C’est celui qui reçoit le message. <br>
                    <b>Le code</b> : Permet de communiquer et de se comprendre. <br>
                    <b>Le canal</b> : Le moyen de transmission de l’information. Il peut prendre diverses. formes: ondes sonores (humain), support papier (lettre, journal…), appareils (téléphone,
                    radio, télévision, ordinateur…). <br>
                    <b>Le contexte</b> : C’est l’environnement ou se produit la communication
                </div>
            </div>
        
            <div class="tab">
                <input hidden type="checkbox" id="tpcom">
                <label class="tab-label text-primary" for="tpcom">Types</label>
                <div class="tab-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div id="vp" class="card p-2 mt-5"> 
        <h1 class="title">
            Voix active et la voix passive
        </h1>
        <p>
            <b>
                À la voix active, le sujet accomplit l'action exprimée par le verbe.
            </b><br>
            ==> Mohammad mange la pomme.
        </p>
        <p>
            
        </p>
        <p>
            <b>
                À la voix passive, le sujet subit l'action exprimée par le verbe.
            </b><br>
            ==> La pomme est mangé<span class="answer">e</span> par Mohammad. <br>
            <small>
                on ajoute <span class="answer">e</span> parceque " la pomme" est feminin.
            </small>
        </p>

        <p>
            <b>
                La règle: <br>
            </b>
            Complement + auxiliere être <a href="#etre">(Conjugé selon le verbe dans la voix active) </a> + particip passé
        </p>
        

    </div>
    <div id="etre" class="mt-5 card p-2">
        <h1 class="title">Le verbe être</h1>
        <div class="tabs">
            <div class="tab">
                <input hidden type="checkbox" id="etred">
                <label class="tab-label text-primary" for="etred">present</label>
                <div class="tab-content">
                    <div class="tempscorps">je <b>suis</b><br>tu <b>es</b><br>il <b>est</b><br>nous <b>sommes</b><br>vous <b>êtes</b><br>ils
                        <b>sont</b><br></div>            
                </div>
            </div>

        
            <div class="tab">
                <input hidden type="checkbox" id="passe">
                <label class="tab-label text-primary" for="passe">Passé composé</label>
                <div class="tab-content">
                    <div class="tempscorps">j'ai <b>été</b><br>tu as <b>été</b><br>il a <b>été</b><br>nous avons <b>été</b><br>vous avez
                        <b>été</b><br>ils ont <b>été</b><br></div>
                </div>
            </div>


            <div class="tab">
                <input hidden type="checkbox" id="future">
                <label class="tab-label text-primary" for="future">Futur simple</label>
                <div class="tab-content">
                    je <b>serai</b><br>tu <b>seras</b><br>il <b>sera</b><br>nous <b>serons</b><br>vous <b>serez</b><br>ils <b>seront</b><br>
                </div>
            </div>


            <div class="tab">
                <input hidden type="checkbox" id="imparfait">
                <label class="tab-label text-primary" for="imparfait">Imparfait</label>
                <div class="tab-content">
                    <div class="tempscorps">j'<b>étais</b><br>tu <b>étais</b><br>il <b>était</b><br>nous <b>étions</b><br>vous
                        <b>étiez</b><br>ils <b>étaient</b><br></div>
                </div>
            </div>


            <div class="tab">
                <input hidden type="checkbox" id="psimple">
                <label class="tab-label text-primary" for="psimple">Passé simple</label>
                <div class="tab-content">
                    <div class="tempscorps">je <b>fus</b><br>tu <b>fus</b><br>il <b>fut</b><br>nous <b>fûmes</b><br>vous <b>fûtes</b><br>ils
                        <b>furent</b><br></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pl" class="mt-5 card p-2">
        <h1 class="title">
            Pluriel
        </h1>
        <p>
            Les mots se terminant par ou font leur pluriel en ajoutant un s.
        </p>
        <p>
            Exceptions: <br>
            des bijoux, des cailloux, des choux, des genoux, des hiboux, des joujoux et des poux
        </p>
    </div>

    <div id="ph" class="card p-2 mt-5">
        <h1 class="title">
            Type de phrase
        </h1>
    </div>
{% endblock %}



