{% extends "studies/languagelyt.html" %}


{% block languagec %}

    <div id="vp">
        <h1>
            I. Voix active et la voix passive
        </h1>
        <p>
            À la voix active, le sujet accomplit l'action exprimée par le verbe.
        </p>
        <p>
            Mohammad mange la pomme
        </p>
        <p>
            À la voix passive, le sujet subit l'action exprimée par le verbe.
        </p>
        <p>
            La pomme est mangé<span class="answer">e</span> par Mohammad
        </p>
        <small>
            on ajoute <span class="answer">e</span> parceque " la pomme" est feminin
        </small>

        <p>
            Complement + auxiliere être <a href="#table">(Selon le verbe dans la voix active) </a> + particip passé
        </p>


        <h2  id="table">
            Le verbe être
        </h2>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">present</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">je <b>suis</b><br>tu <b>es</b><br>il <b>est</b><br>nous <b>sommes</b><br>vous
                        <b>êtes</b><br>ils
                        <b>sont</b><br>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">Passé composé</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">j'ai <b>été</b><br>tu as <b>été</b><br>il a <b>été</b><br>nous avons <b>été</b><br>vous avez
                        <b>été</b><br>ils ont <b>été</b><br></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">
                        Imparfait
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">j'<b>étais</b><br>tu <b>étais</b><br>il <b>était</b><br>nous <b>étions</b><br>vous
                        <b>étiez</b><br>ils <b>étaient</b><br></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">
                        Plus-que-parfait
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">j'avais <b>été</b><br>tu avais <b>été</b><br>il avait <b>été</b><br>nous avions
                        <b>été</b><br>vous aviez <b>été</b><br>ils avaient <b>été</b><br></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">
                        Passé simple
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">je <b>fus</b><br>tu <b>fus</b><br>il <b>fut</b><br>nous <b>fûmes</b><br>vous <b>fûtes</b><br>ils
                        <b>furent</b><br></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">
                        Passé antérieur
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">j'eus <b>été</b><br>tu eus <b>été</b><br>il eut <b>été</b><br>nous eûmes <b>été</b><br>vous
                        eûtes <b>été</b><br>ils eurent <b>été</b><br></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">
                        Futur simple
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tempscorps">j'aurai <b>été</b><br>tu auras <b>été</b><br>il aura <b>été</b><br>nous aurons
                        <b>été</b><br>vous aurez <b>été</b><br>ils auront <b>été</b><br></td>
                </tr>
            </tbody>
        </table>

    </div>
    <hr>
    <div id="pl" class="mt-5">
        <h1>
            II. Pluriel
        </h1>
        <p>
            Les mots se terminant par ou font leur pluriel en ajoutant un s.
        </p>
        <p>
            Exceptions: <br>
            des bijoux, des cailloux, des choux, des genoux, des hiboux, des joujoux et des poux
        </p>
    </div>
{% endblock %}



