<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="themepaa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Abdelouahed ait ali | Portfolio </title>
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="fGtZBzoqn622P46tyorLr-uRP4YdfCxS-n5XBK8grCc" />
    <meta content="abdelouahed ait ali's portfolio" name="description">
    <meta content="abdelouahed ait ali, abdelouahed, ait ali, abdelwahed ait ali" name="keywords">
    <!-- Favicon -->
        <link href="/static/images/fav.jpg" rel="icon">

    <!-- plugin CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="static/css/h2.css" rel="stylesheet">
  
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="70">
    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End -->
    <!-- Header Start -->
    <div class="mob-header">
        <div class="d-flex">
            <div class="navbar-brand">
                <a class="logo-text" href="/">
                    Abdelouahed
                </a>
            </div>
            <button class="toggler-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <!-- End Header -->
    <!-- nav bar -->
    <header class="header-left" id="navbar-collapse-toggle">
        <div class="scroll-bar">
            <div class="hl-top">
                <div class="hl-logo">
                    <a href="/">
                        A
                    </a>
                </div>
            </div>


            <!-- nav -->
            <ul class="nav nav-menu">
                <li>
                    <a class="nav-link active" href="#home" data-toggle="tooltip" title="HOME">
                        <i class="bi bi-house-fill"></i>
                    </a>
                </li>

                <!-- work -->
                <li>
                    <a class="nav-link" href="#work" data-toggle="tooltip" title="WORK">
                        <i class="bi bi-archive-fill"></i>
                    </a>
                </li>

                <!-- do -->
                <li>

                    <a class="nav-link" href="#about" data-toggle="tooltip" title="ABOUT">
                        <i class="bi bi-credit-card-fill"></i>
                    </a>
                </li>

                <!-- skills -->
                <li>
                    <a class="nav-link" href="#resume" data-toggle="tooltip" title="Skills">
                        <i class="bi bi-card-checklist"></i>
                    </a>
                </li>


                  <!-- blog -->
                <li>
                    <a class="nav-link" href="/studies" data-toggle="tooltip" title="BLOG">
                        <i class="bi bi-file-earmark-post-fill"></i>
                    </a>
                </li>

                <li>
                    <a class="nav-link" href="#blog" data-toggle="tooltip" title="BLOG">
                        <i class="bi bi-file-earmark-post-fill"></i>
                    </a>
                </li>
                <!-- <li>
                    <a class="nav-link" href="#contactus" data-toggle="tooltip" title="CONTACT">
                        <i class="bi bi-house"></i>
                    </a>
                </li> -->
            </ul>
        </div>
    </header>
    <!-- End nav bar -->
    <!-- Main Start -->
    <main class="main-left">
        <!-- Home -->
        <section id="home" class="home-banner">
            <div class="hb-top-fixed d-flex">
                <div class="hb-info">
                    <label>+212 628 599 249</label>
                    <label>aitaliabdelouahed@gmail.com</label>
                </div>
                
            </div>
            <div class="container">
                <div class="row full-screen align-items-center">
                    <div class="col-lg-7">
                        <div class="type-box">
                            <h6>Hello, My name is</h6>
                            <h1 class="font-alt">Abdelouahed ait ali</h1>
                            
                            <p class="desc">I am a student (English studies) and a self-taught web developer.</p>
                            
                        </div>
                        <a href="#work" class="color-orange bi bi-arrow-down"></a>
                    </div>
                </div>
            </div>
            <div class="hb-me" ></div>
        </section>
        <!-- End Home -->
        <!-- Portfolio -->
        <section id="work" class="section dark-bg">
            <div class="container">
                <div class="title">
                    <h3>My Work.</h3>
                </div>
                <div class="portfolio-filter-01">
                    <ul class="filter nav">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".static">Static web</li>
                        <li data-filter=".dynamic">Dynamic web</li>
                        <li data-filter=".mobile">Mobile apps</li>
                        <li data-filter=".api">APIs</li>
                    </ul>
                </div> <!-- Portfolio Filter -->
                
                <div class="portfolio-content grid-gutter-lg grid-col-3 lightbox-gallery">
                    {% for i in projects %}
                    <div class="grid-item {{i.cat}}">
                        <div class="bg-white rounded mb-2 text-dark">
                            <div class="">
                                <div class="p-2">
                                    <h3>
                                        {{i.title}}
                                    </h3>
                                    <p>
                                        {{i.data}}
                                    </p>
                                </div>
                                <div class="bg-orange">
                                    <a class="text-white text-center btn bi bi-arrow-right w-100" href="{{i.link}}"
                                        target="_blank">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- grid item -->
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- End Portfolio -->

        <!-- about us -->

        <section id="about" class="section dark-bg">
            <div class="container">
               
                <!-- separated -->
                
                <!-- End separated -->
                <div class="title">
                    <h3>What I do?</h3>
                </div>
                <div class="row">
                    
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-desktop"></i>
                            <div class="feature-content">
                                <h5>Web Development</h5>
                                <p><ul>
                                    <li>Staticwebsite: Html/Css/Javascrpt -Bootstrap-</li>
                                    <li>
                                        Dynamic website: Bootstrap in the front, Flask/django in the backend
                                    </li>
                                </ul></p>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-target"></i>
                            <div class="feature-content">
                                <h5>Facebook ads</h5>
                                <p>
                                <ul>
                                    <li>
                                        Run ads from facebook business manager.
                                    </li>
                                    <li>
                                        Analise data and retargeting
                                    </li>
                                    <li>
                                        Setup facebook puixel
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-target"></i>
                            <div class="feature-content">
                                <h5>Google indexation</h5>
                                <p>
                                <ul>
                                    <li>
                                        Run ads from facebook business manager.
                                    </li>
                                    <li>
                                        Analise data and retargeting
                                    </li>
                                    <li>
                                        Setup facebook puixel
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- End about us -->
        <!-- Resume -->
        <section id="resume" class="section">
            <div class="container">
                
                <div class="title">
                    <h3>Skills</h3>
                </div>
                <div class="row">

                    <div class="m-15px-tb">
                        <h2>Self-taught</h2>
                        <div class="skill-lt">
                            <h6>Google/stackoverflow</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>HTML5</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>CSS</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Javascript</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Python</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Flask</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>React.js</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                    
                        <div class="skill-lt">
                            <h6>Django</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                    </div>

                    <!-- <div class="col-lg-4 m-15px-tb">
                        <h2>Academic</h2>
                        <ul class="aducation-box">
                            <li>
                                <span>2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                            </li>
                            <li>
                                <span>2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                            </li>
                            <li>
                                <span>2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                            </li>
                        </ul>
                    </div> -->
                    
                </div>
            </div>
        </section>
        <!-- Resume End -->
        
        
        
        <!-- Blog -->
        <section id="blog" class="section">
            <div class="container">
                <div class="title">
                    <h3>Latest Blog.</h3>
                </div>
                <div class="row">
                    {% for i in posts %}
                    <div class="col-md-6 m-15px-tb">
                        <div class="blog-grid">
                    
                            <div class="blog-info">
                                <div class="meta">{{i.date.strftime('%Y/%m/%d')}} - Upvotes: {{i.votes}}</div>
                                <h6><a href="single-blog.html">{{i.title}} </a></h6>
                            </div>
                        </div>
                    
                    </div>
                    {% endfor %}

                    
                    
                    <div class="col-12 read-more-blog text-center">
                        <a class="px-btn px-btn-white" href="blog.html">More Blogs</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog -->
        <!-- Contact us 
        <section id="contactus" class="section dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 m-15px-tb">
                        <div class="contact-info">
                        
                        </div>
                    </div>
                    <div class="col-lg-7 ml-auto m-15px-tb">
                        <div class="contact-form">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </section>
         End Contact us -->
    </main>
    <!-- End Main -->
    <!-- Footer Start -->
    <footer class="footer white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 m-10px-tb">
                    <div class="nav justify-content-center justify-content-md-start">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-md-6 m-10px-tb text-center text-md-right">
                    <p>© 2020 copyright all right reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- jquery -->
    <script src="static/js/jquery.min.js"></script>
    
    <script src="static/js/h2.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    
    <!-- end -->
</body>
<!-- Body End -->

</html>