<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Abdelouahed ait ali | Portfolio</title>
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="fGtZBzoqn622P46tyorLr-uRP4YdfCxS-n5XBK8grCc" />
    <meta content="this is abdelouahed ait ali's portfolio" name="description">
    <meta content="abdelouahed ait ali, abdelouahed, ait ali, abdelwahed ait ali, freelancer, web developer agadir, agadir developer" name="keywords">
    <!-- Favicon -->
    <link href="/static/images/fav.jpg" rel="icon">

    <!-- plugin CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/h2.css" rel="stylesheet">

    <meta name="image" content="/static/images/a.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Abdelouahed Portfolio">
    <meta itemprop="description" content="this is abdelouahed's portfolio">
    <meta itemprop="image" content="/static/images/a.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Abdelouahed Portfolio">
    <meta name="twitter:description" content="this is abdelouahed's portfolio">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Abdelouahed Portfolio">
    <meta name="og:description" content="this is abdelouahed's portfolio">
    <meta name="og:type" content="website">
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="70" class="theme-light">
    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End -->
    <!-- Header Start -->
    <div class="mob-header mb-5">
        <div class="d-flex">
            <div class="navbar-brand">
                <a class="logo-text" href="/">
                    A
                </a>
            </div>
            <div class="toggler-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- nav bar -->
    <header class="header-left" id="navbar-collapse-toggle">
        <div class="scroll-bar">
            <div class="hl-top">
                <div class="hl-logo">
                    <a href="/">
                        A
                    </a>
                </div>
            </div>


            <!-- nav -->
            <ul class="nav nav-menu">
                <li>
                    <a class="nav-link active" href="#home" data-toggle="tooltip" title="HOME">
                        <i class="bi bi-house-fill"></i>
                    </a>
                </li>

                <!-- work -->
                <li>
                    <a class="nav-link" href="#work" data-toggle="tooltip" title="WORK">
                        <i class="bi bi-archive-fill"></i>
                    </a>
                </li>

                <!-- do -->
                <li>

                    <a class="nav-link" href="#about" data-toggle="tooltip" title="ABOUT">
                        <i class="bi bi-credit-card-fill"></i>
                    </a>
                </li>

                <!-- skills -->
                <li>
                    <a class="nav-link" href="#resume" data-toggle="tooltip" title="Skills">
                        <i class="bi bi-card-checklist"></i>
                    </a>
                </li>


                <!-- blog -->


                <li>
                    <a class="nav-link" href="#blog" data-toggle="tooltip" title="BLOG">
                        <i class="bi bi-file-earmark-post-fill"></i>
                    </a>
                </li>

                <li>
                    <a class="nav-link" href="/studies" data-toggle="tooltip" title="STUDIES">
                        <i class="bi bi-book"></i>
                    </a>
                </li>
                <!-- <li>
                    <a class="nav-link" href="#contactus" data-toggle="tooltip" title="CONTACT">
                        <i class="bi bi-house"></i>
                    </a>
                </li> -->
            </ul>
        </div>
    </header>
    <!-- End nav bar -->
    <!-- Main Start -->
    <main class="main-left">
        <!-- Home -->
        <section id="home" class="home-banner">
            
            <!-- animation 1 floating svg 
            <div class="wrap">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            
                <svg class="svg" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m2.46177,126.39581c10.12618,-0.06577 20.25237,-0.13151 30.37857,-0.19726c0.06666,-10.3997 0.13333,-20.7994 0.19999,-31.19908c10.07782,0 20.15564,0 30.23346,0c0,-10.46351 0,-20.927 0,-31.39051c10.33589,0 20.67178,0 31.00767,0c0,-10.20827 0,-20.41656 0,-30.62485c10.20829,0 20.41656,0 30.62485,0c0,-10.20829 0,-20.41658 0,-30.62487c15.18483,0 30.36965,0 45.55448,0c0,5.10414 0,10.20829 0,15.31243c-10.08071,0 -20.16136,0 -30.24206,0c0,10.33589 0,20.67178 0,31.00769c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33589 0,20.67178 0,31.00767c-10.20829,0 -20.41656,0 -30.62485,0c0,10.33591 0,20.6718 0,31.00767c-10.33589,0 -20.67178,0 -31.00767,0c0,10.46351 0,20.927 0,31.39049c-15.31243,0 -30.62485,0 -45.93728,0c0.68263,-5.07223 -1.16374,-10.79174 0.43769,-15.68938l0,0z"
                        stroke-width="7" fill="none" />
                </svg>
            </div>-->
            <div class="vh-100 wrap w-50 position-absolute end-0" style="background: #adc7f265;"></div>
            <div class="vh-100 wrap w-50 position-absolute" style="background: #edbeed65;"></div>
            <!-- animation2 lines-->
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="container">
                <div class="row full-screen align-items-center">
                    <div class="d-flex flex-column align-items-center">
                        <div class="type-box text-center">
                            <h6>Hello, My name is</h6>
                            <h1 class="font-alt">Abdelouahed ait ali</h1>
        
                            <p class="desc">I am a student (English studies), a self-taught web developer and python scripts writer, I also write about things am intrested in here in <a href="/blog">My blog</a></p>
        
                        </div>
                        <div class="d-flex">
                            <a href="https://web.facebook.com/abdelwahed.aitali.90" target='_blank'
                                class="bi bi-facebook me-2 fs-2"></a>
                            <a href="https://www.linkedin.com/in/yurey/" target='_blank' class="bi bi-linkedin me-2 fs-2"></a>
                            <a href="https://twitter.com/abdlwwwahd" target='_blank' class="bi bi-twitter me-2 fs-2"></a>
                            <a href=" https://github.com/yyrryy" target='_blank' class="bi bi-github me-2 fs-2"></a>
                           
                            
                        </div>
                        <a href="https://www.upwork.com/freelancers/~01163138de487a17c4" target='_blank' class="me-2 fs-2">
                            Upwork
                        </a>
                        <a href="#work" class="mt-5 h1 color-orange bi bi-arrow-down"></a>
                    </div>
                </div>
            </div>
        
        </section>
        <!-- End Home -->
        <!-- Portfolio -->
        <section id="work" class="section dark-bg">
            <div class="container">
                <div class="title">
                    <h3>My Work.</h3>
                </div>
                <div class="portfolio-filter-01">
                    <ul class="filter nav">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".static">Site vetrine</li>
                        <li data-filter=".dynamic">Site dynamic</li>
                        <li data-filter=".mobile">Mobile apps</li>
                        <li data-filter=".api">APIs</li>
                    </ul>
                </div> <!-- Portfolio Filter -->
        
                <div class="portfolio-content grid-gutter-lg grid-col-3 lightbox-gallery">
                    {% for i in projects %}
                    <div class="grid-item {{i.cat}}">
                        <div class="mb-2">
                            <div class="rounded-1 myshadow border">
                                <div class="p-2">
                                    <h3>
                                        {{i.title}}
                                    </h3>
                                    <p>
                                        {{i.data}}
                                    </p>
                                </div>
                                <div class="bg-secondcolor">
                                    <a class="text-white text-center btn bi bi-arrow-right w-100" href="{{i.link}}"
                                        target="_blank">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- grid item -->
                    {% endfor %}
        
                </div>
        
                <br>
                <div class="title mt-5">
                    <h3>Certifications.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-02 myshadow media align-items-center bg-dark">
        
                            <div>
                                <img src="/static/images/certs/javascript.jpg" alt="javascript certificate">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-02 myshadow media align-items-center bg-dark">
        
                            <div>
                                <img src="/static/images/certs/html_css.jpg" alt="html_css certificate">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-02 myshadow media align-items-center bg-dark">
        
                            <div>
                                <img src="/static/images/certs/sql.jpg" alt="sql certificate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio -->
        
        <!-- certs -->
        
        
        
        <!-- about us -->
        
        <section id="about" class="section dark-bg">
            <div class="container">
        
                <!-- separated -->
        
                <!-- End separated -->
                <div class="title">
                    <h3>What I do?</h3>
                </div>
                <div class="row">
        
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01 myshadow card">
                            <i class="icon bi bi-display"></i>
                            <div class="feature-content">
                                <h5>Web Development</h5>
                                <p>
                                <ul>
                                    <li>Static website: Html/Css/Javascrpt -Bootstrap-</li>
                                    <li>
                                        Dynamic website: Bootstrap in the front, Flask/django in the backend
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01 myshadow card">
                            <i class="icon bi bi-facebook"></i>
                            <div class="feature-content">
                                <h5>Facebook ads</h5>
                                <p>
                                <ul>
                                    <li>
                                        Run ads from facebook business manager.
                                    </li>
                                    <li>
                                        Analise data and retargeting
                                    </li>
                                    <li>
                                        Setup facebook pixel
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01 myshadow card">
                            <i class="icon bi bi-google"></i>
                            <div class="feature-content">
                                <h5>Google indexing</h5>
                                <p>
                                   
                                <ul>
                                    <li>
                                        Register aebsite in google search console
                                    </li>
                                    <li>
                                        Use SEO firendly tags
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
        <!-- End about us -->
        <!-- Resume -->
        <section id="resume" class="section">
            <div class="container">
        
                <div class="title">
                    <h3>Skills</h3>
                </div>
                <div class="row">
        
                    <div class="m-15px-tb">
                        <h2>Self-taught</h2>
                        <div class="skill-lt">
                            <h6>Google/stackoverflow</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>HTML5/Css/Javascript</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="92" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div><!-- /skill -->
        
                        <div class="skill-lt">
                            <h6>Python</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Flask</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>React.js</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
        
                        <div class="skill-lt">
                            <h6>Django</h6>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                  
                        <!-- /skill -->
                    </div>
        
                    <!-- <div class="col-lg-4 m-15px-tb">
                                <h2>Academic</h2>
                                <ul class="aducation-box">
                                    <li>
                                        <span>2010-2012</span>
                                        <h6>Graphic Designer</h6>
                                        <p>International Design Institute</p>
                                    </li>
                                    <li>
                                        <span>2010-2012</span>
                                        <h6>Graphic Designer</h6>
                                        <p>International Design Institute</p>
                                    </li>
                                    <li>
                                        <span>2010-2012</span>
                                        <h6>Graphic Designer</h6>
                                        <p>International Design Institute</p>
                                    </li>
                                </ul>
                            </div> -->
        
                </div>
            </div>
        </section>
        <!-- Resume End -->
        
        
        
        <!-- Blog -->
        <section id="blog" class="section">
            <div class="container">
                <div class="title">
                    <h3>Latest Blog.</h3>
                </div>
                <div class="row">
                    {% for i in posts %}
                    <div class="col-md-6 m-15px-tb">
                        <div class="blog-grid">
                            <div class="blog-info p-2 rounded-1 myshadow border"
                                dir='{% if i.lang=="fr" %} ltr {%else%}rtl{% endif %}'>
                                <h6 class="">
                                    <a href="/blog/{{i.id}}/{{i.title.strip().replace(' ', '-')}}" class="">
                                        {{i.title}}
                                    </a>
                                </h6>
                                <div class="meta">{{i.date.strftime('%Y/%m/%d')}} - Upvotes: {{i.votes}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        
        
        
                    <div class="col-12 read-more-blog text-center">
                        <a class="px-btn px-btn-white" href="/blog">More Blogs</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog -->
        <!-- Contact us  
        <section id="contactus" class="section dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 m-15px-tb">
                        <div class="contact-info">
                        
                        </div>
                    </div>
                    <div class="col-lg-7 ml-auto m-15px-tb">
                        <div class="contact-form">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </section>
         End Contact us -->

        <!-- Footer Start -->
        <footer class="footer white mt-auto">
            <div class="container row align-items-center justify-content-between">
                <div class="text-center">
                    <div>
                        aitaliabdelwahed@gmail.com
                    </div>
                </div>
                <div class="m-10px-tb col-md-6">
                    <div class="nav justify-content-center">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                </div>
                <div class="col-md-6 m-10px-tb text-center text-md-right">
                    <p>Handcrafted with ♫ in TIGMMI</p>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </main>
    <!-- End Main -->


    <!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/h2.js"></script>
    <script src="/static/js/bootstrappooper.min.js"></script>

</body>
<!-- Body End -->

</html>
