<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Personal Laptops</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Brand</th>
							<th>Model</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						{% for laptop in laptops %}
						<tr>
							<td>{{ laptop.brand }}</td>
							<td>{{ laptop.model }}</td>
							<td>{{ laptop.price }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	
	<div class="container">
		<!-- create a filter with bootstrap classes  -->
		<div class="row">
			<div class="col-md-3">
				<h1>Filter</h1>
				<form action="/personal/laptops" method="POST">
					<div class="form-group">
						<!-- select input for brands -->
						<select name="brand" id="brand" class="form-control">
							<option value="">All</option>
							{% for brand in brands %}
							<option value="{{ brand }}">{{ brand }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<!-- select input for models -->
						<select name="model" id="model" class="form-control">
							<option value="">All</option>
							{% for model in models %}
							<option value="{{ model }}">{{ model }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<!-- select input for price -->
						
					</div>
					<button type="submit" class="btn btn-primary">Filter</button>
				</form>
			</div>

	</div>

	<script src="/static/js/bootstrappooper.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
</body>
</html>