<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% if title %}
    <title> Abdelouahed ait ali| {{title}} </title>
    {% else %}
    <title> Abdelouahed ait ali| Portfolio </title>
    {% endif %}

    <meta name="robots" content="index, follow">

    {% block tags%}
    {% endblock %}

    <!-- Favicons -->
    <link href="../static/images/fav.jpg" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;900&display=swap" rel="stylesheet">>

    <!-- Vendor CSS Files -->

    {% block css%}
    {% endblock %}

    <!-- =======================================================

  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

    <!-- ======= Header ======= -->


    <!-- ======= Hero Section ======= -->
    {% block main%}
    {% endblock %}


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Abdelouahed ait ali</h3>


            <div class="copyright">
                &copy; Copyright. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/" target="_blank">
                    BootstrapMade
                </a>
                <br>
                Developed by <a href="/#hero">Me</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->

    <script src="../static/js/main.min.js"></script>
    <!--
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/glightbox.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/swiper-bundle.min.js"></script>
    <script src="../static/js/typed.min.js"></script>
    <script src="../static/js/noframework.waypoints.js"></script>
    <script src="../static/js/main.js"></script>-->
    {% block js %}
    {% endblock %}



</body>

</html>