<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% if title %}
    <title> Abdelouahed | {{title}} </title>
    {% else %}
    <title> Abdelouahed | Portfolio </title>
    {% endif %}
    <meta name="robots" content="noindex, nofollow">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/images/fav.jpg" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    
    {% block css%}
    {% endblock %}

    <!-- =======================================================

  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    
    <!-- ======= Header ======= -->
    

    <!-- ======= Hero Section ======= -->
    {% block main%}
    {% endblock  %}
    

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Abdelouahed ait ali</h3>
           
            
            <div class="copyright">
                &copy; Copyright. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/" target="_blank">
                    BootstrapMade
                </a>
                <br>
                Developed by <a href="/#hero">Me</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js">
    </script>
    <script src="../static/js/glightbox.min.js">
    </script>
    <script src="../static/js/isotope.pkgd.min.js">
    </script>
    <script src="../static/js/validate.js">
    </script>
    <script src="../static/js/purecounter.js">
    </script>
    <script src="../static/js/swiper-bundle.min.js">
    </script>
    <script src="../static/js/typed.min.js">
    </script>
    <script src="../static/js/noframework.waypoints.js">
    </script>
    <script src="../static/js/main.js">
    </script>


    <script>

    </script>
</body>

</html>