{% extends "studies/writinglyt.html" %}


{% block writingc %}
<span class="answer">Paragraph:</span> is a distinct section of writing covering one topic. A paragraph will usually contain more than one
sentence. A typical paragraph will be 5-7 sentences
<div id="pro" class="mt-5">
    <h1>
        I. Process writing
    </h1>
    <p>
        This are steps to follow to write a paragraph, good writes go through serval steps to produce a piece of writing.
    </p>
    <ol>
        <li>
            Pre-writing
            <ul>
                <li>choose a topic</li>
                <li>Gather ideas</li>
                <li>Organise ideas</li>
            </ul>
        </li>
        <li>Drafting
            <ul>
                <li>Writing the first version</li>
            </ul>
        </li>
        <li>Revewing and revising
            <ul>
                <li>Review/revise the structure and the content</li>
            </ul>
        </li>

        <li>Rewriting
            <ul>
                <li>Check the spelling and grammar (Proofread)</li>
                liMake a final correction
            </ul>
        </li>

    </ol>
    <small>
        3 and 4 can be repeated many times
    </small>
</div>

<div id="pr" class="mt-5">
    <h1>II. Pre-writing</h1>
    <p>
        before you write a paragraph you should choose and narrow a topic. Steps:
    </p>
    <ol>
        <li>
            Choose a narrowing topic
            <p>
                Topic : the main idea or general idea of the paragraph
            </p>
        </li>
        <li>
            Brainstorming
            <p>
                gathering ideas, write every idea that comes to your mind, three types of brainstorming:
                <ul>
                    <li>Making a list</li>
                    <li>Freewriting</li>
                    <li>Mapping</li>
                </ul>
            </p>
        </li>
        <li>
            Edting
            <p>
                After the brainstorming (Gathering ideas) it's the time of editing or filtering the ideas to keep the most interesting and relevent to the topic.
            </p>
        </li>
    </ol>

</div>

<div id="st" class="mt-5">
    <h1>III. The structure of a paragraph</h1>
    <p>
        <ul>
            <li>The topic sentec: The main idea of the paragraph, it's usually the first sentence of the paragraph</li>
            <li>The supporting sentences: sentences that talk/explain our topic</li>
            <li>The concluding sentence: the last paragraph the gives a final comment about the topic</li>
        </ul>
    </p>
</div>

<div id="dv" class="mt-5">
    <h1>IV. The development of a paragraph</h1>
    <p>
        After choosing a topic sentence, you develop your main idea by adding information to explain what you mean. <br>
        Ways to develop a paragraph:
        <ul>
            <li>Details: Specific points that tell more about a general statement</li>
            <li>explanation: tell the reader what something means or how something works</li>
            <li>Example: develop you paragraph by providing examples about the topic</li>
        </ul>
    </p>
    <p>
        Peer editing: Showing your work to a student and vice versa
    </p>
</div>

<div id="ds" class="mt-5">
    <h1>V. Descriptive and process paragraph</h1>
    <p>
        A descriptive paragraph is a paragraph that describes a person/something. A process paragraph explains how something is done.
    </p>
    <p>
        Adjectives to use when describing:
        <div class="tabs">
            <div class="tab ">
                <input hidden type="checkbox" id="size">
                <label class="tab-label" for="size">Size</label>
                <div class="tab-content">
                    <span class="explain" title='existing or available in large quantities'>abundant</span> -big -boned -chubby -fat -giant -gigantic -great -huge -immense -jumbo -large -little -long -majestic
                    -massive -miniature -petite -puny -scrawny -short -small -tall -teeny -thin -tiny -vast
                </div>
            </div>
            <div class="tab ">
                <input hidden type="checkbox" id="Shape">
                <label class="tab-label" for="Shape">Shape</label>
                <div class="tab-content">
                    blobby -broad -chubby -circular -crooked -curved -cylindrical -deep -distorted -flat -fluffy -globular -hollow -low
                    -narrow -oval -rotund -round -skinny -square -steep -straight -triangular -wide
                </div>
            </div>
        </div>
       
    </p>
</div>

{% endblock %}



