<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Abdelouahed ait ali | Blog | {{title}}</title>
    {% else %}
    <title>Abdelouahed ait ali | Blog </title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link href="/static/images/fav.jpg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <header class="bm-5">
            <a href="/" class="btn bi bi-house border"></a>
        </header>
        <br>
        {% block main %}
        {% endblock %}
    </div>

</body>

</html>