{% extends 'lyt.html' %}

{% block content %}
<div class="container mt-5">   
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <article class="article" dir='{% if post.lang==fr %} ltr {%else%}rtl{% endif %}'>
                <div class="article-title">
                    <h2>{{post.title}} {{post.lang}}</h2>
                    
                </div>
                <div class="article-content">
                    <p>
                        {{post.content}}
                    </p>
                </div>
                
            </article>
            
            <div class="mt-5 d-flex justify-content-between">
                <div class="bg-orange text-white p-2 rounded">
                    Votes: <span class="votes">{{post.votes}}</span>
                </div>
                <button class="btn btn-dark upvote">
                    Upvote <span class="bi bi-arrow-up"></span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

    let votes=$('.votes')
    $('.upvote').on('click', ()=>{
        votes.html('<div class="spinner-border">')
        $.ajax({
            type:'post',
            url: "/blog/upvote/{{post.id}} ",
            success: (res)=>{
                $('.upvote').removeClass('upvote')
                $('.upvote').text('Upvoted')
                votes.text(res.votes)
            },
            error: (err)=>{
                console.log('err')
            }
        })
    })
</script>
{% endblock %}