{% extends 'blog/bloglyt.html' %}



{% block content %}
<div class="container mt-5">   
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <article class="article" dir='{% if post.lang=="fr" %} ltr {%else%}rtl{% endif %}' style="font-family: {% if post.lang=='ar' %} 'Noto Naskh Arabic', sans-serif; {%else%}'Rubik', sans-serif;{% endif %}">
                <div class="text-center article-title">
                    <h1>
                        <b>
                            {{post.title}}
                        </b>
                    </h1> 
                </div>
                
                <article class="article-content">

                    {{content}}

                </article>
                
            </article>
            
            <div class="mt-5 d-flex justify-content-between mb-2">
                <div class="bg-orange text-white p-2 rounded">
                    Votes: <span class="votes">{{post.votes}}</span>
                </div>
                <button class="btn btn-dark upvote">
                    Upvote <span class="bi bi-arrow-up"></span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    v=parseInt(localStorage.getItem('v{{post.id}}'))
    if (v){
        $('.upvote').removeClass('upvote').text('Upvoted!').prop('disabled', true)
    }

    let votes=$('.votes')
    $('.upvote').on('click', ()=>{
        votes.html('<div class="spinner-border">')
        $.ajax({
            type:'post',
            url: "/blog/upvote/{{post.id}} ",
            success: (res)=>{
                $('.upvote').prop('disabled', true)
                localStorage.setItem('v{{post.id}}', '1')
                $('.upvote').text('Upvoted!')
                votes.text(res.votes)
            },
            error: (err)=>{
                console.log('err')
            }
        })
    })
</script>
{% endblock %}