@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&family=Playfair+Display&display=swap');

html {

  overflow-x: hidden;

}:root{

  --secondcolor:#7ca9bf;

}body {

  background: #10101a;

  color: rgba(255, 255, 255, 0.8);

  font-family: "Rubik", monospac;

  line-height: 1.7;

  font-size: 15px;

  font-weight: 300;

}.font-alt {

  font-family: "Rubik", serif;

}img {

  max-width: 100%;

}* {

  outline: none !important;

}a {

  color: var(--secondcolor);

}#loading {

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background: #1d1d1d;

  z-index: 99999;

}.load-circle {

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  margin: auto;

  width: 50px;

  height: 50px;

}.load-circle span {

  display: inline-block;

  width: 64px;

  height: 64px;

}.load-circle span:after {

  content: " ";

  display: block;

  width: 46px;

  height: 46px;

  margin: 1px;

  border-radius: 50%;

  border: 5px solid #fff;

  border-color: #fff transparent #fff transparent;

  animation: lds-dual-ring 1.2s linear infinite;

}.px-btn {

  padding: 0 25px;

  line-height: 42px;

  position: relative;

  display: inline-block;

  background: none;

  border: 1px solid transparent;

  border-radius: 5px;

  font-size: 16px;

  font-weight: 500;

  text-decoration: none !important;

}.px-btn.px-btn-white {

  background: #fff;

  border-color: #fff;

  color: #0b0b13;

}.dark-bg {

  background: #0e0e17;

}.header-left {

  width: 80px;

  position: fixed;

  bottom: 0;

  top: 0;

  background: #0c0c14;

  border-right: 1px solid rgba(11, 11, 19, 0.1);

}.header-left .scroll-bar {

  height: 100%;

}.header-left .hl-top a {

  background: var(--secondcolor);

  color: #fff;

  font-weight: 600;

  text-decoration: none;

  font-size: 40px;

  height: 80px;

  width: 80px;

  line-height: 80px;

  display: inline-block;

  vertical-align: top;

  text-align: center;

}.header-left .nav-menu {

  padding-top: 45px;

  padding-bottom: 45px;

}.header-left .nav-menu li {

  width: 100%;

}.header-left .nav-menu li + li {

  border-top: 1px solid rgba(255, 255, 255, 0.1);

}.header-left .nav-menu li .nav-link {

  margin: 0;

  padding: 10px 0;

  color: #fff;

  text-decoration: none;

  -moz-transition: ease all 0.35s;

  -o-transition: ease all 0.35s;

  -webkit-transition: ease all 0.35s;

  transition: ease all 0.35s;

  text-align: center;

}.header-left .nav-menu li .nav-link i {

  width: 40px;

  height: 40px;

  line-height: 40px;

  font-size: 25px;

}.header-left .nav-menu li .nav-link.active {

  color: var(--secondcolor);

  font-weight: 600;

}.mob-header {

  padding: 15px;

  display: none;

  position: fixed;

  top: 0;

  width: 100%;

  z-index: 11;

}.mob-header > .d-flex {

  align-items: center;

}.mob-header .navbar-brand {

  padding: 0;

}.mob-header .logo-text {

  font-weight: 600;

  color: #fff;

  font-size: 25px;

  line-height: 1;

}.fixed-header .mob-header {

  background: #0b0b13;

}.toggler-menu {

  width: 40px;

  height: 40px;

  position: relative;

  margin: 0;

  border-radius: 0;

  padding: 0;

  margin-left: 15px;

  border: none;

  margin-left: auto;

}.toggler-menu span {

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  width: 25px;

  height: 2px;

  margin: auto;

  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;

  background: #fff;

  color: #fff;

}.mob-header {

    display: block;

  }.header-left {

    -moz-transition: ease all 0.35s;

    -o-transition: ease all 0.35s;

    -webkit-transition: ease all 0.35s;

    transition: ease all 0.35s;

    left: -200px;

    z-index: 222;

  }.footer {

  padding: 12px 0;

  background: #0b0b13;

  margin-top: auto;

}.footer .nav a {

  color: #fff;

  font-size: 14px;

  margin-right: 17px;

}.footer p {

  color: #fff;

  font-size: 14px;

  margin: 0;

}.read-more-blog {

  padding-top: 30px;

}.portfolio-content.grid-gutter-lg {

  margin-left: -12px;

  margin-right: -12px;

}.portfolio-filter-01 {

  padding-top: 15px;

  padding-bottom: 15px;

}.portfolio-filter-01 .filter li {

  cursor: pointer;

  margin: 0 15px;

  color: #fff;

  position: relative;

  padding: 5px 0;

  font-weight: 400;

  font-size: 16px;

  line-height: normal;

}.portfolio-filter-01 .filter li {

    margin: 0 8px;

    font-size: 15px;

  }.portfolio-filter-01 .filter li:after {

  content: "";

  width: 0px;

  left: 0;

  right: 0;

  bottom: 0;

  margin: auto;

  height: 2px;

  background: var(--secondcolor);

  position: absolute;

  -moz-transition: ease all 0.55s;

  -o-transition: ease all 0.55s;

  -webkit-transition: ease all 0.55s;

  transition: ease all 0.55s;

}.portfolio-filter-01 .filter li:last-child {

  margin-right: 0;

}.portfolio-filter-01 .filter li:first-child {

  margin-left: 0;

}.portfolio-filter-01 .filter li.active:after {

  width: 100%;

}.section {

  padding: 100px 0;

  position: relative;

}.section {

    padding-top: 80px;

    padding-bottom: 80px;

  }.section {

    padding-top: 60px;

    padding-bottom: 60px;

  }.m-15px-tb {

  margin-top: 15px;

  padding-bottom: 15px;

}.title {

  margin-bottom: 35px;

}.title {

    margin-bottom: 25px;

  }.title h3 {

  margin: 0;

  color: #fff;

  position: relative;

  z-index: 1;

  font-weight: 600;

  font-size: 30px;

  display: inline-block;

  vertical-align: top;

}.title h3:after {

  content: "";

  width: 45px;

  height: 45px;

  border-radius: 50%;

  background: var(--secondcolor);

  position: absolute;

  top: -8px;

  left: -15px;

  z-index: -1;

}.title h3:after {

    top: -4px;

    left: 0;

  }
  .wrap {
    perspective-origin: 50% 50%;
}

.svg {
    stroke: #3d3e3d;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
}

.svg:nth-child(1) {
    left: 92%;
    -webkit-animation: raise1 18s linear infinite;
    animation: raise1 18s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: scale(-0.3) rotate(258deg);
    z-index: -6;
    filter: blur(-5px);
}

@-webkit-keyframes raise1 {
    to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(194deg);
    }
}

@keyframes raise1 {
    to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(194deg);
    }
}

.svg:nth-child(2) {
    left: 53%;
    -webkit-animation: raise2 12s linear infinite;
    animation: raise2 12s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: scale(0) rotate(335deg);
    z-index: -5;
    filter: blur(-4px);
}

@-webkit-keyframes raise2 {
    to {
        bottom: 150vh;
        transform: scale(0) rotate(285deg);
    }
}

@keyframes raise2 {
    to {
        bottom: 150vh;
        transform: scale(0) rotate(285deg);
    }
}

.svg:nth-child(3) {
    left: -10%;
    -webkit-animation: raise3 14s linear infinite;
    animation: raise3 14s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: scale(0.3) rotate(186deg);
    z-index: -4;
    filter: blur(-3px);
}

@-webkit-keyframes raise3 {
    to {
        bottom: 150vh;
        transform: scale(0.3) rotate(315deg);
    }
}

@keyframes raise3 {
    to {
        bottom: 150vh;
        transform: scale(0.3) rotate(315deg);
    }
}

.svg:nth-child(4) {
    left: 85%;
    -webkit-animation: raise4 19s linear infinite;
    animation: raise4 19s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: scale(0.6) rotate(145deg);
    z-index: -3;
    filter: blur(-2px);
}

@-webkit-keyframes raise4 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(70deg);
    }
}

@keyframes raise4 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(70deg);
    }
}

.svg:nth-child(5) {
    left: 33%;
    -webkit-animation: raise5 9s linear infinite;
    animation: raise5 9s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: scale(0.9) rotate(1deg);
    z-index: -2;
    filter: blur(-1px);
}

@-webkit-keyframes raise5 {
    to {
        bottom: 150vh;
        transform: scale(0.9) rotate(77deg);
    }
}

@keyframes raise5 {
    to {
        bottom: 150vh;
        transform: scale(0.9) rotate(77deg);
    }
}

.svg:nth-child(6) {
    left: -10%;
    -webkit-animation: raise6 11s linear infinite;
    animation: raise6 11s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: scale(1.2) rotate(15deg);
    z-index: -1;
    filter: blur(0px);
}

@-webkit-keyframes raise6 {
    to {
        bottom: 150vh;
        transform: scale(1.2) rotate(264deg);
    }
}

@keyframes raise6 {
    to {
        bottom: 150vh;
        transform: scale(1.2) rotate(264deg);
    }
}

.svg:nth-child(7) {
    left: 31%;
    -webkit-animation: raise7 10s linear infinite;
    animation: raise7 10s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    transform: scale(1.5) rotate(114deg);
    z-index: 0;
    filter: blur(1px);
}

@-webkit-keyframes raise7 {
    to {
        bottom: 150vh;
        transform: scale(1.5) rotate(148deg);
    }
}

@keyframes raise7 {
    to {
        bottom: 150vh;
        transform: scale(1.5) rotate(148deg);
    }
}

.svg:nth-child(8) {
    left: 22%;
    -webkit-animation: raise8 15s linear infinite;
    animation: raise8 15s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(1.8) rotate(250deg);
    z-index: 1;
    filter: blur(2px);
}

@-webkit-keyframes raise8 {
    to {
        bottom: 150vh;
        transform: scale(1.8) rotate(289deg);
    }
}

@keyframes raise8 {
    to {
        bottom: 150vh;
        transform: scale(1.8) rotate(289deg);
    }
}

.svg:nth-child(9) {
    left: 98%;
    -webkit-animation: raise9 17s linear infinite;
    animation: raise9 17s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    transform: scale(2.1) rotate(342deg);
    z-index: 2;
    filter: blur(3px);
}

@-webkit-keyframes raise9 {
    to {
        bottom: 150vh;
        transform: scale(2.1) rotate(203deg);
    }
}

@keyframes raise9 {
    to {
        bottom: 150vh;
        transform: scale(2.1) rotate(203deg);
    }
}.lines {

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  height: 100%;

  margin: auto;

  width: 90vw;

}.line {

  position: absolute;

  width: 1px;

  height: 100%;

  top: 0;

  left: 50%;

  background: rgba(255, 255, 255, 0.1);

  overflow: hidden;

}.line::after {

  content: "";

  display: block;

  position: absolute;

  height: 15vh;

  width: 100%;

  top: -50%;

  left: 0;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);

  -webkit-animation: drop 7s 0s infinite;

          animation: drop 7s 0s infinite;

  -webkit-animation-fill-mode: forwards;

          animation-fill-mode: forwards;

  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

}.line:nth-child(1) {

  margin-left: -25%;

}.line:nth-child(1)::after {

  -webkit-animation-delay: 2s;

          animation-delay: 2s;

}.line:nth-child(3) {

  margin-left: 25%;

}.line:nth-child(3)::after {

  -webkit-animation-delay: 2.5s;

          animation-delay: 2.5s;

}@-webkit-keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}@media (max-width: 767px) {
    .home-banner .type-box h6 {
        font-size: 18px;
        margin: 0 0 10px;
    }
}.home-banner {

  position: relative;

  overflow: hidden;

}.home-banner .container {

  position: relative;

  z-index: 1;

}.home-banner .full-screen {

  min-height: 100vh;

}.home-banner .type-box {

  padding-top: 90px;

  padding-bottom: 50px;

}.home-banner .type-box h6 {

  color: #fff;

  font-size: 20px;

  font-weight: 500;

  margin: 0 0 20px;

}.home-banner .type-box h6 {

    font-size: 18px;

    margin: 0 0 10px;

  }.home-banner .type-box h1 {

  font-size: 80px;

  font-weight: 700;

  line-height: 1;

  margin: 0 0 20px;

  color: #fff;

}.home-banner .type-box h1 {

    font-size: 70px;

  }.home-banner .type-box h1 {

    font-size: 50px;

  }.feature-box-01 {

  background: #0b0b13;

  padding: 40px;

  border-radius: 10px;

  overflow: hidden;

  position: relative;

  z-index: 1;

}.feature-box-01:before {

  content: "";

  position: absolute;

  top: -220px;

  left: -220px;

  width: 200px;

  height: 200px;

  border-radius: 0;

  z-index: -1;

  background: #0b0b13;

  -moz-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;

  -o-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;

  -webkit-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;

  transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;

}.feature-box-01:hover:before {
    top: -72px;
    left: -40px;
    border-radius: 50%;}.feature-box-01:after {

  content: "";

  position: absolute;

  top: -72px;

  left: -40px;

  width: 200px;

  height: 200px;

  border-radius: 50%;

  z-index: -2;

  background: var(--secondcolor);

  -moz-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;

  -o-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;

  -webkit-transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;

  transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;

}.feature-box-01 .icon {

  line-height: 60px;

  font-size: 40px;

  color: #fff;

}.feature-box-01 .feature-content {

  padding-top: 25px;

}.feature-box-01 h5 {

  margin-bottom: 15px;

  color: #fff;

}.feature-box-01 p {

  margin: 0;

}.feature-box-02 {

  background: #0b0b13;

  padding: 15px;

  border-radius: 10px;

  overflow: hidden;

}.skill-lt:not(:first-child) {

  margin-top: 45px;

}.skill-lt h6 {

  font-size: 15px;

  margin: 0 0 10px;

  font-weight: 400;

  color: #fff;

}.skill-lt .skill-bar {

  position: relative;

  background: rgba(255, 255, 255, 0.2);

}.skill-lt .skill-bar .skill-bar-in {

  width: 80px;

  position: relative;

  -moz-transition: ease all 0.55s;

  -o-transition: ease all 0.55s;

  -webkit-transition: ease all 0.55s;

  transition: ease all 0.55s;

  height: 10px;

  background: var(--secondcolor);

}
@media (max-width: 1200px) {
    .home-banner .type-box h1 {
        font-size: 70px;
    }
}

@media (max-width: 767px) {
    .home-banner .type-box h1 {
        font-size: 50px;
    }
}
@media (max-width: 767px){}
.header-left.menu-open {
    left: 0;
}