<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1200592303129169"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
    {% endblock %}
    <title>
        {%if title%} {{title}} - English studies
        {%else%} English studies - abdelouahed ait ali{%endif%}
    </title>
        <meta name="google-site-verification" content="fGtZBzoqn622P46tyorLr-uRP4YdfCxS-n5XBK8grCc" />
    <!-- Favicon icon -->
    <link href="/static/images/fav.jpg" rel="icon">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/studies/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">

    </head>

<body class="color-theme-blue mont-font ">

    <div class="preloader" style="display: block;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>


    <div class="main-wrapper">
        <br>
       {% block content %}
       {% endblock %}
    </div>
    <footer class="p-3 bg-dark p-3 bg-dark ">
        <div class="text-grey-500 text-center fw-500 font-xssss">
            Handcrafted with ♫ in TIGMMI
        </div>
    </footer>






    <script src="/static/js/studies/sc.min.js"></script>

    {% block js %}
    {% endblock %}




</body>

</html>