{% extends "studies/lyt.html" %}

{% block css %}
<style>
    .answer{
        font-size: 18px;
        color:rgb(187, 70, 27);
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mb-3">
        <div class="card p-2">
            <div>
                <h1 class="title text-center">
                    Present
                </h1>
                <div class="tabs">
                    <div class="tab">
                        <input hidden type="checkbox" id="simple">
                        <label class="tab-label" for="simple">Simple</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="perfect">
                        <label class="tab-label" for="perfect">Perfect</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="continiuos">
                        <label class="tab-label" for="continiuos">Continious</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                </div>
            
                <br><br>
            
                <h1 class="title text-center">
                    Past
                </h1>
                <div class="tabs">
                    <div class="tab">
                        <input hidden type="checkbox" id="pssimple">
                        <label class="tab-label" for="pssimple">Simple</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="psperfect">
                        <label class="tab-label" for="psperfect">Perfect</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="pscontiniuos">
                        <label class="tab-label" for="pscontiniuos">Continious</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                </div>
            
                <br><br>
            
                <h1 class="title text-center">
                    Future
                </h1>
                <div class="tabs">
                    <div class="tab">
                        <input hidden type="checkbox" id="fts">
                        <label class="tab-label" for="fts">Simple</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="ftp">
                        <label class="tab-label" for="ftp">Perfect</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                    <div class="tab">
                        <input hidden type="checkbox" id="ftc">
                        <label class="tab-label" for="ftc">Continious</label>
                        <div class="tab-content">
                            <li>
                                Use:
                            </li>
                            <li>
                                Example:
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <hr class="mt-5">
            
            <div class="exholder">
            
            
            
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-secondary" disabled>
                    <<
                </button>
                        <a href="./grammar/test" class="btn btn-secondary">Modals >></a>
            </div>
        </div>
    </div>



    <div class="col-md-4 position-relative">
        <div class="card position-sticky top-0">
            <div class="position-relative">
                <input type="text" name='verb' class="form-control" placeholder="Write a verbe">
                <button class="btn get position-absolute top-0 end-0 btn-primary">Get</button>
            </div>
            <div class="res p-2" style="height: 30vh; overflow-y: scroll;">
            
            </div>
        </div>
    </div>

</div>






{% endblock %}



{% block js %}
<script src="/static/js/studies/grammar.js"></script>
<script>
    verbinp=$('input[name=verb]')
    verbbtn=$('.get')
    verbbtn.click(()=>{
        $('.res').text('Waiting...')
        w=verbinp.val()
        $.ajax({
            type: "POST",
            url: "{{url_for('studies.getverb')}}",
            data: {'word': w},
            success: (res)=>{
                verbinp.val('')
                
                $('.res').html(`
                    ${res.data.join('<br><br>')}
                    `)
            },
            error: (err)=>{
                
                $('.res').html('No results')
            }
        });
    })


</script>
{% endblock %}