{% extends "studies/lyt.html" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="mb-2">
        <div class="card p-2">
            <p><u><b>- Simple tenses:</b></u></p>
            <ul>
                <li>Simple prensent:
                    <p>
                        Used to express events/situation that are exist always, usually abitually <br>
                        Ex: 
                        - it Snows in alaska
                        - I watch television everyday (Abitually)

                    </p>
                </li>
                <li>Simple past:
                    <p>
                        Expresses events that bigen and end in the past <br>
                        Ex: it snowed yesterday
                    </p>
                </li>
                <li>Simple future
                    <p>
                        Expresses events that bigen and end in the future <br>
                        Ex: it will snow next week
                    </p>
                </li>

            </ul>

            <p><u><b>- Progressive tenses</b></u></p>
            <ul>
                <li>Present continiuos:
                    <p>
                        For action that began in the past, in progress now and probably will continue
                        <br>
                        Ex: 
                        <u>
                            Tom is sleeping right now
                        </u> 
                            
                        (the action started in the past, happening right now, and my continued in the future)
                    </p>
                </li>
                <li>Past continiuos:
                    <p>
                        For action that began in the past, in progress in a particullar moment in the past and probably continued after that particullar moment
                        <br>
                        Ex: 
                        <u>
                            Tom was sleeping when I arrived.
                        </u> 
                            
                        (the sleep started before I arrived, happening when I arrived, and probably continiued after I arrived)
                    </p>
                </li>
                <li>Future continiuos:
                    <p>
                        For action that will begin in the future, in progress in a particullar moment in the future and will probably after that particullar moment
                        <br>
                        Ex: 
                        <u>
                            Tom well be sleeping when we arrive
                        </u> 
                            
                        (the action will start in the fututre, happening when I will arrive, and probably will continue after I arrived)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="mt-3">
        <div class="card p-2">
            <h1>
                <u>Exercices</u>
            </h1>

            <div class="d-flex justify-content-between">
                <a disables>
                    Pre.
                </a>
                <a href="grammar/present-past-simple-progressive">
                    Next
                </a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}



{% block js %}
<script>
    trinp=$('input[name=transcribe]')
    trbtn=$('.tr')
    trbtn.click(()=>{
        $('.res').text('Waiting...')
        w=trinp.val()
        console.log(w)
        $.ajax({
            type: "POST",
            url: "{{url_for('studies.transcribe')}}",
            data: {'word': w},
            success: (res)=>{
                trinp.val('')
                console.log(res)
                $('.res').html(`
                    ${w}:
                    <div class="tr"></div>
                        ${res.tran}
                    <div class="mt-3">
                        Audio:
                        <div class="audio">
                            
                            <audio id="audio_uk" preload="auto">
                                <source src="${res.mp}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        <span class='h1' onclick="document.getElementById('audio_uk').play()">▷</span>
                        
                    </div>`)
            }
        });
    })


    strinp = $('input[name=stress]')
    strbtn = $('.stress')
    strbtn.click(() => {
            $('.res2').text('Waiting...')
            w = strinp.val()
            console.log(w)
            $.ajax({
                type: "POST",
                url: "{{url_for('studies.stress')}}",
                data: { 'word': w },
                success: (res) => {
                    strinp.val('')
                    console.log(res)
                    $('.res2').html(`
                    ${w}:
                    <div>
                        <p>N. syllables: ${res.n}</p>
                        <p>${res.s}</p>
                        <p>Stress: ${res.press}</p> 
                    </div>
                    `)
                }
            });
        })
</script>
{% endblock %}