{% extends "studies/lyt.html" %}

{% block title %}
<title>
    {% if title %}{{title}} - Guided reading S1 - English studies {% else %} Guided reading S1 - English studies{% endif %}
</title>
{% endblock %}




{% block content %}
    <div class="row">
    
        
    
        <div class="col-md-4 position-relative">
            <div class="card p-2 position-sticky top-2">
                <p>
                    This section is for the module of guided reading
                </p>
        
                <ul>
                    <li>
                        <a href="#terms">Literature terms</a>
                    </li>
                    <li>
                        <a href="#shorts">
                            Short stories
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-8 mt-3 mt-md-0">
            <div class="card p-2">
                {% block guidedc%}
                {% endblock %}
            </div>
        </div>
    
    
    
    </div>



 
{% endblock %}

