{% extends 'studies/lyt.html' %}
{% block title %}
<title> Home - English Studies S1</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class=" mb-3">
        <div class="card p-2">
            <h1>
                <b>Intro</b>
            </h1>
            <p>
                This section in this wbsite is used as a reference for all the courses I will have during my studies in the english
                departement in FLASH <span class="answer">Azrou-n-Ait Melloul</span>.
            </p>
            <p>
                The website is open for any reclamation/correction.
            </p>
            <div class="row">
                <div class="p-2 col-md-6">
                    <h1>
                        <b>
                            Indexation (S1)
                        </b>
                    </h1>
                
                
                    <ul>
                
                        <li><a href="/studies/s1/spoken" class="nav-link">
                                <span>Spoken english</span></a>
                        </li>
                        <!--
                                                        
                                                                        <li><a href="#resume" class="nav-link">
                                                                        </li>-->
                        <li><a href="/studies/s1/grammar" class="nav-link">
                                <span>Grammar</span></a></li>
                        <li><a href="/studies/s1/study" class="nav-link">
                                <span>Study Skills</span></a></li>
                        <li><a href="/studies/s1/guided" class="nav-link">
                                <span>Guided reading</span></a>
                        </li>
                        <li><a href="/studies/s1/writing" class="nav-link">
                                <span>Writing</span></a>
                
                        <li><a href="/studies/s1/reading" class="nav-link">
                                <span>Reading comp.</span></a>
                
                
                        </li>
                        <li><a href="/studies/s1/language" class="nav-link">
                                <span>language et comm.</span></a>
                
                
                        </li>
                
                
                
                    </ul>
                </div>
                <div class="p-2 col-md-6">
                    <h1>
                        <b>
                            Indexation (S2)
                        </b>
                    </h1>
                
                
                    <ul>
                
                        <li><a href="/studies/s2/oral" class="nav-link">
                                <span>Oral communication</span></a>
                        </li>
                        <!--
                                                        
                                                                        <li><a href="#resume" class="nav-link">
                                                                        </li>-->
                        <li><a href="/studies/s2/grammar2" class="nav-link">
                                <span>Grammar 2</span></a></li>
                        <li><a href="/studies/s2/business" class="nav-link">
                                <span>business communication</span></a></li>
                        <li><a href="/studies/s2/reading" class="nav-link">
                                <span>Reading in culture</span></a>
                        </li>
                        <li><a href="/studies/s2/composition" class="nav-link">
                                <span>Composition</span></a>
                
                        <li><a href="/studies/s2/comprehension" class="nav-link">
                                <span>Comprehension and precis 2</span></a>
                
                
                        </li>
                        <li><a href="/studies/s2/language" class="nav-link">
                                <span>language 2</span></a>
                
                
                        </li>
                
                
                
                    </ul>
                </div>
            </div>
            
                
        </div>
    </div>
    
    <div class="">
        <div class="card p-2">
            Contributers
        </div>
    </div>

</div>
{% endblock %}