{% extends 'studies/lyt.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="./spoken" target="_blank">
                        Spoken English
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item mb-3">
        <div class="card">
            <img src="" class="img-fluid" alt="">
            <div class="card-body text-center">
                <i class="bi bi-list h1"></i>
            </div>
            <ul class="list-group list-group-flush">
                <li class="btn btn-primary list-group-item">
                    <a href="" target="_blank">
                        Visit
                    </a>
                </li>
            </ul>
    
        </div>
    </div>

</div>
{% endblock %}