{% extends 'studies/lyt.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9 mb-3">
        <div class="card p-2">
            <h1>
                <b>Intro</b>
            </h1>
            <p>
                This section in this wbsite is used as a reference for all the courses I will have during my studies in the english
                departement in FLASH Azrou-n-Ait Melloul.
            </p>
            <p>
                The website is open for any reclamation/correction.
            </p>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card p-2">
            Contributers
        </div>
    </div>

</div>
{% endblock %}