{% extends "studies/lyt.html" %}

{% block title %}
<title>
    {% if title %}{{title}} - Language et communication S1 - English studies {% else %} Language et communication S1 - English
    studies{% endif
    %}
</title>
{% endblock %}




{% block content %}
<div class="row">
    <div class="col-md-4 position-relative">
        <div class="card p-2 position-sticky top-2">
            <p>
                This section is for the module of {{m}}
            </p>

            <ul>
                <li>
                    <a href="#vp">La voix passive/active</a>
                </li>
                <li>
                    <a href="#etre">Le verbe être</a>
                </li>
                <li>
                    <a href="#pl">Pluriel</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 mt-3 mt-md-0">
        <div class="">
            {% block languagec%}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}