{% extends 'studies/quizlyt.html' %}


<!--nav bar block -->
{% block nav %}
<div class="nav-top">
    <i class="feather-slack text-success display1-size mr-3 ml-3"></i><span
            class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">Lesson.
        </span>
    <a href="#" class="close-nav d-inline-block d-lg-none">
        <i class="bg-grey btn-round-sm text-dark ml-auto mr-2 bi bi-x-circle">

        </i>
    </a>
</div>
{% endblock %}










{% block contentq %}
<div class="middle-sidebar-left">
    <div class="row">
        <div class="col-xl-8 col-xxl-9">
           <h1>
            soon
           </h1>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <div class="card p-4 mb-4 bg-primary border-0 shadow-xss rounded-lg">
                <div class="card-body">
                    <h2 class="text-white font-xsssss fw-700 text-uppercase ls-3 ">{{title}}</h2>
                    <h4 class="text-white fw-500 mb-4 lh-24 font-xssss">
                        About {{title}}
                    </h4>
                    

                </div>
            </div>
           
        </div>

    </div>
</div>

{% endblock %}