{% extends 'studies/quizlyt.html' %}


<!--nav bar block -->
{% block nav %}
<div class="nav-top">
    <i class="feather-slack text-success display1-size mr-3 ml-3"></i><span
            class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">Lesson.
        </span>
    <a href="#" class="close-nav d-inline-block d-lg-none">
        <i class="bg-grey btn-round-sm text-dark ml-auto mr-2 bi bi-x-circle">

        </i>
    </a>
</div>
{% endblock %}










{% block contentq %}
<div class="row">
    <div class="col-xl-8 col-xxl-9">

        <div class="card d-block border-0 rounded-lg overflow-hidden dark-bg-transparent bg-transparent mt-4 pb-3">
            <div class="row">
                <div class="col-10">
                    <h2 class="fw-700 font-md d-block lh-4 mb-2">Soon!</h2>
                </div>
                <!-- <div class="col-2 show">
                    <a href="#" class="d-flex flex-column justify-content-center btn-round-md ml-0 d-inline-block float-right rounded-lg bg-grey" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="bi bi-share font-sm text-grey-700"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-3 border-0 shadow-xss show" aria-labelledby="dropdownMenu2"
                        style="position: absolute; transform: translate3d(-308px, 90px, 0px); top: 0px; left: 0px; will-change: transform;"
                        x-placement="bottom-end">
                        <ul class="d-flex align-items-center mt-0 float-left">
                            <li class="mr-2">
                                <h4 class="fw-600 font-xss text-grey-900  mt-2 mr-3">Share: </h4>
                            </li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-facebook"><i
                                        class="font-xs ti-facebook text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-twiiter"><i
                                        class="font-xs ti-twitter-alt text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-linkedin"><i
                                        class="font-xs ti-linkedin text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-instagram"><i
                                        class="font-xs ti-instagram text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-pinterest"><i
                                        class="font-xs ti-pinterest text-white"></i></a></li>
                        </ul>
                    </div>
                </div> -->
            </div>

        </div>

     
    </div>
    <div class="col-xl-4 col-xxl-3">
        <div class="card p-4 mb-4 bg-primary border-0 shadow-xss rounded-lg">
            <div class="card-body">
                <h2 class="text-white font-xsssss fw-700 text-uppercase ls-3 ">About:</h2>
                
                <h4 class="text-white fw-500 mb-4 lh-24 font-xssss">
                    About the module {{title}}
                </h4>

            </div>
        </div>


        
    </div>

</div>
{% endblock %}