{% extends 'studies/quizlyt.html' %}


<!--nav bar block -->
{% block nav %}
<div class="nav-top">
    <i class="feather-slack text-success display1-size mr-3 ml-3"></i><span
            class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">Lesson.
        </span>
    
</div>
<div class="mt-5 fw-600 font-xssss text-grey-500"><span>Courses</div>

<ul class="navbar-nav nav-menu float-none text-center">
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="false">S1 <i class="ti-angle-down"></i></a>
        <div class="dropdown-menu">
            <a href="/studies/s1/writing">Writings Paragraph</a>
            <a href="/studies/s1/spoken">Spoken English</a>
            <a href="/studies/s1/study">Study Skills</a>
            <a href="/studies/s1/grammar1">Grammar 1</a>
            <a href="/studies/s1/guided">Guided Reading</a>
            <a href="/studies/s1/lang1">Langues I</a>
            <a href="/studies/s1/reading">Reading Compr Précis 1</a>

        </div>

    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="false">S2<i class="ti-angle-down"></i></a>
        <div class="dropdown-menu">
            <a href="/studies/s2/reading2">Reading Compr Précis 2</a>
            <a href="/studies/s2/grammar2">Grammar 2</a>
            <a href="/studies/s2/culture">Readings in Culture</a>
            <a href="/studies/s2/lang2">Langues II</a>
            <a href="/studies/s2/comp1">Composition 1</a>
            <a href="/studies/s2/communication">Oral communication</a>
            <a href="/studies/s2/business">Business Communication</a>

        </div>

    </li>
</ul>
{% endblock %}










{% block contentq %}
<div class="middle-sidebar-left">
    <div class="row">
        <div class="col-xl-8 col-xxl-9">
           <h1>
            soon
           </h1>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <div class="card p-4 mb-4 bg-primary border-0 shadow-xss rounded-lg">
                <div class="card-body">
                    <h2 class="text-white font-xsssss fw-700 text-uppercase ls-3 ">{{title}}</h2>
                    <h4 class="text-white fw-500 mb-4 lh-24 font-xssss">
                        About {{title}}
                    </h4>
                    

                </div>
            </div>
           
        </div>

    </div>
</div>

{% endblock %}