<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% if title %} {{title}} - Studies - Abdelouahed ait ali {% else %} Home - Studies - Abdelouahed ait ali {% endif %} </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <!-- Favicons -->
    <link href="../static/images/fav.jpg" rel="icon">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;900&display=swap" rel="stylesheet">
    <style>
        body{
            background: aliceblue;
        }
    </style>
    <script src="/static/js/jquery.min.js"></script>

</head>
<body>
    <div class="mt-5 container">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block js %}
{% endblock %}
</html>