{% extends 'studies/quizlyt.html' %}

<!-- navbar block -->
{% block nav %}
<div class="nav-top">
   <i class="feather-slack text-success display1-size mr-3 ml-3"></i>
   <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">
       {{quiz.title}}.
    </span>
    
</div>
<div class="fw-600 font-xssss text-grey-500"><span>Ranking</div>
<div class="p-2 mt-2">
    {% if user %}
    {% for i, v in enumerate(rank) %}
    <div class="d-flex justify-content-between align-items-center border-bottom py-2">
        <div>
            <span class="me-2 bg-current btn-round-xs rounded-lg font-xssss text-white fw-600">
                {{i+1}}
            </span>
            <span class="font-xssss fw-500 text-grey-500 ml-2">
                <img src="http://avatars.dicebear.com/api/big-smile/{{v.username}}.svg" alt="user"
                    class="shadow rounded-circle  border w50 mt--1"> {{v.username}}
            </span>
        </div>
        <span class="ml-auto font-xssss fw-500 text-grey-500">{{v.score}}</span>
    </div>
    {%endfor%}
    {% else %}
    <div class="alert-danger">
        You need to login in order to see the ranking
    </div>
    {% endif %}
</div>

<div class="mt-5 fw-600 font-xssss text-grey-500"><span>Courses</div>

<ul class="navbar-nav nav-menu float-none text-center">
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="false">S1 <i class="ti-angle-down"></i></a>
        <div class="dropdown-menu">
            <a href="/studies/s1/writing">Writings Paragraph</a>
            <a href="/studies/s1/spoken">Spoken English</a>
            <a href="/studies/s1/study">Study Skills</a>
            <a href="/studies/s1/grammar1">Grammar 1</a>
            <a href="/studies/s1/guided">Guided Reading</a>
            <a href="/studies/s1/lang1">Langues I</a>
            <a href="/studies/s1/reading">Reading Compr Précis 1</a>
    
        </div>
    
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="false">S2<i class="ti-angle-down"></i></a>
        <div class="dropdown-menu">
            <a href="/studies/s2/reading2">Reading Compr Précis 2</a>
            <a href="/studies/s2/grammar2">Grammar 2</a>
            <a href="/studies/s2/culture">Readings in Culture</a>
            <a href="/studies/s2/lang2">Langues II</a>
            <a href="/studies/s2/comp1">Composition 1</a>
            <a href="/studies/s2/communication">Oral communication</a>
            <a href="/studies/s2/business">Business Communication</a>
    
        </div>
    
    </li>
</ul>


{% endblock %}

{% block header %}
<button class="btn ms-auto sidebar-right"><img
        src="https://avatars.dicebear.com/api/big-smile/{%if user %}{{user.username}}{% else %}account{% endif %}.svg"
        alt="user" class="shadow rounded-circle  border w50 mt--1"></button>
{% endblock %}

{% block contentq %}

<div class="middle-sidebar-left">

    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for c, m in messages %}
        <div class="col-12 mt-5 alert alert-{{c}} alert-dismissible fade show d-flex justify-content-between"
            role="alert">
            <div>
                <strong>{{m}}</strong>
            </div>
            <button type="button" class="btn btn-primary close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-12">
            <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xl-5 border-0 text-left question-div p-2">
                <div class="text-center mb-3">
                    <h1>
                        {{quiz.title}}
                    </h1>
                    <small>
                        {{len}} Questions in total
                    </small>
                    <div class="col-12 mt-5 alert alert-info fade show d-flex justify-content-center" role="alert">
                    
                        <ul class="fw-500 font-xssss text-start p-2">
                            <li>Choose carfully, you can't edit your choice!</li>
                            <li>this is not a marked test, it's just for testing you and your knowledge,</li>
                            <li>if you wanna cheat, JUST DO IT!!</li>
                        </ul>
                       
                    </div>
                    <div class="col-12 mt-5 alert alert-dismissible fade show d-flex justify-content-center" role="alert">
                        
                        <ul class="fw-500 font-xssss border top p-2 text-grey-500">
                            
                        </ul>
                        <button type="button" class="btn btn-primary close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% for i, v in enumerate(questions) %}
                <div class="card-body p-0" id="question{{i+1}}" {% if i!=0 %}style="display: none;" {%endif%}>
                    <h4 class="font-xssss text-uppercase text-current fw-700 ls-3">Question {{i+1}}</h4>
                    <h3 class="font-sm text-grey-800 fw-700 lh-32 mt-4 mb-4">
                        {{v}}
                    </h3>
                    <div class="options">
                        {% for b in options[i] %}
                        <button
                            class="btn w-100 bg-lightblue theme-dark-bg  p-4 mt-3 question-ans style1 rounded-lg font-xsss fw-600 lh-30 text-grey-700 mb-0 p-2">{{b.strip()}}</button>
                        {% endfor %}
                    </div>
                    <div class="params d-flex justify-content-between">
                        <button data-question="question{{i}}"
                            class="previos-bttn btn p-2 mt-3 d-inline-block text-white fw-700 lh-30 rounded-lg w70 text-center font-xsssss ls-3 bg-current">Previous
                        </button>
                        <button data-question="question{{i+2}}"
                            class="next-bttn btn p-2 mt-3 d-inline-block text-white fw-700 lh-30 rounded-lg w70 text-center font-xsssss ls-3 bg-current"
                            disabled>NEXT</button>
                    </div>
                </div>
                {% endfor %}



                <div class="stats p-3 bg-no-repeat bg-image-topcenter" id="question{{len+1}}"
                    style="display: none; background-image: url(images/user-pattern.png);">


                </div>
            </div>

        </div>


    </div>
</div>


<!-- right scri=oll bar -->
<div class="middle-sidebar-right right-scroll-bar shadow">
    <div class="middle-sidebar-right-content">

        <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
            <div class="card-body p-2 d-block text-center bg-no-repeat bg-image-topcenter">

                <figure class="avatar ml-auto mr-auto mb-5 mt-2"><img
                        src="https://avatars.dicebear.com/api/big-smile/{%if user %}{{user.username}}{% else %}account{% endif %}.svg"
                        alt="image" class="shadow rounded-circle w-50 border"></figure>
                <div class="clearfix"></div>
                {% if user %}
                <h2 class="text-black font-xss lh-3 fw-700 mt-3 mb-1">{{user.username}}</h2>

                <ul class="list-inline border-0 mt-4">
                    <li class="list-inline-item text-center mr-4">
                        <h4 class="fw-700 font-md">{{user.semister}}
                        </h4>
                    </li>
                    <li class="list-inline-item text-center mr-4">
                        <h4 class="fw-700 font-md">{{user.group}}

                        </h4>
                    </li>
                    <li class="list-inline-item text-center mr-4">
                        
                    </li>
                </ul>
                <h4 class="fw-700 font-md">
                    {{user.score}} points
                </h4>
                {% else %}
                <div class="forms" target="login">
                    <p>
                        Looks like you are not logged in :)
                    </p>
                    <form method="post" action="{{url_for('studies.login')}}">
                        <div class="form-group icon-input mb-3">
                            <input type="text" class="style2-input pl-5 form-control text-grey-900 font-xsss fw-600"
                                placeholder="Your username" name="username">
                        </div>
                        <div class="form-group icon-input mb-1">
                            <input type="Password" class="style2-input pl-5 form-control text-grey-900 font-xss ls-3"
                                placeholder="Your password" name="pswd">
                        </div>
                        <button
                            class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">Login</button>
                    </form>

                    <div class="col-sm-12 p-0 text-left">
                        <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Dont have an account <a
                                class="fw-700 ml-1 switcher btn">Create one</a></h6>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card theme-light-bg overflow-hidden rounded-xxl border-0 mb-3">
            <div class="card-body d-flex justify-content-between align-items-end p-4">
                <div>
                    <h4
                        class="font-xsss text-grey-900 mb-2 d-flex align-items-center justify-content-between mt-2 fw-700">

                    </h4>
                </div>


            </div>
        </div>



    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // login signup
    forms = $('.forms')
    switcher = $('.switcher')
    $(window).on('click', (e) => {
        if (e.target.classList.contains('switcher')) {
            if (forms.attr('target') == 'login') {
                forms.attr('target', 'rr')
                forms.html(`
            <form method="post">       
                <div class= "form-group icon-input mb-3" >
                    <input type="text" class="style2-input pl-5 form-control text-grey-900 font-xsss fw-600" placeholder="choose a unique username" name="username">
                </div>
                <div class="form-group icon-input mb-1">
                    <input type="Password" class="style2-input pl-5 form-control text-grey-900 font-xss ls-3" name="pswd" placeholder="Password">
                </div>
                <p class="text-start mb-0">Semister</p>
                <div class="form-group icon-input mb-2">
                    <select class="style2-input pl-5 form-control text-grey-900 font-xss ls-3" name="semister">
                        <option value="s1">S1</option>
                        <option value="s2">S2</option>
                        <option value="s3">S3</option>
                        <option value="s3">S3</option>
                        <option value="s4">S4</option>
                        <option value="s5">S5</option>
                        <option value="s6">S6</option>
                    </select>
                </div>

                <p class="text-start mb-0">Group</p>
                <div class="form-group icon-input mb-2">
                    <select class="style2-input pl-5 form-control text-grey-900 font-xss ls-3" name="group">
                        <option value="g1">g1</option>
                        <option value="g2">g2</option>
                        <option value="g3">g3</option>
                        <option value="g3">g3</option>
                        <option value="g4">g4</option>
                        <option value="g5">g5</option>
                        <option value="g6">g6</option>
                    </select>
                </div>

                <button class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 register">Register</button>
            </form >
            <div class="col-sm-12 p-0 text-left">
                <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">You already have an account <a class="fw-700 ml-1 switcher btn">Login</a></h6>
            </div>
        `)
            }
            else {
                forms.attr('target', 'login')
                forms.html(`
                <form method="post" action="{{url_for('studies.login')}}">       
                <div class="form-group icon-input mb-3">
                    <input type="text" class="style2-input pl-5 form-control text-grey-900 font-xsss fw-600" placeholder="Your username" name="username">
                </div>
                <div class="form-group icon-input mb-1">
                    <input type="Password" class="style2-input pl-5 form-control text-grey-900 font-xss ls-3"
                        placeholder="Your password" name="pswd">
                </div>
                <button class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0">Login</button>
            </form>
                
            <div class="col-sm-12 p-0 text-left">
                <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Dont have an account <a 
                        class="fw-700 ml-1 switcher btn">Create one</a></h6>
            </div>
            
        `)
            }

        }
    })
    
    
    
    /*
    quiz code
    */

    let answers = localStorage.getItem('answers{{quiz.title}}') ? JSON.parse(localStorage.getItem('answers{{quiz.title}}')) : []
    let lenquestions = parseInt("{{len}}")
    // declaring the ID cause it's not accepted in the setitem
    let id = parseInt("{{quiz.id}}")
    let userid=parseInt('{{user.id}}')

    // check th coocies

    if (document.cookie.includes(`test${id}`)) {
        console.log('ther is cooki')
        answers = JSON.parse(localStorage.getItem('answers{{quiz.title}}'))
        $('.top').text("You're done here,you can retake this test after 24h")
        $('.options').children().attr('disabled', 'true')
        for (let i = 0; i < answers.length; i++) {
            $($($('.options')[i]).children()[answers[i] - 1]).addClass('active')
            $($($(".options")[i]).children()).attr('disabled', 'true')
            $($(".options")[i]).parent().find($('.params .next-bttn')).removeAttr('disabled')
        }
    } else {
        console.log('no cookie')
        $('.options').children().removeAttr('disabled')
        localStorage.setItem('answers{{quiz.title}}', '[]')
        $('.top').html(`<li>Retaking the {{quiz.title}} test</li>
                    `)
        // checking the local storage
        answers=JSON.parse(localStorage.getItem('answers{{quiz.title}}'))
        
            // if we have all question answerd before
        if (answers.length > 0 && answers.length < lenquestions) {
            let lenanswers = answers.length
            for (let i = 0; i < answers.length; i++) {
                $($($('.options')[i]).children()[answers[i] - 1]).addClass('active')
                $($($(".options")[i]).children()).attr('disabled', 'true')
                $($(".options")[i]).parent().find($('.params .next-bttn')).removeAttr('disabled')
            }
        }
        else {
            $('.options').children().removeAttr('disabled')
        }
    
        

    }

    

    $(".question-div .question-ans").on("click", function () {
        $(this).addClass("active");
        $(this).parent().parent().find($('.params .next-bttn')).removeAttr('disabled')
        $(this).attr('disabled', 'true')
        $(this).siblings().removeClass('question-ans').attr('disabled', 'true')
        let answers = localStorage.getItem('answers{{quiz.title}}') ? JSON.parse(localStorage.getItem('answers{{quiz.title}}')) : []
        let d= parseInt($(this).parent().children().index($(this)))+1
        answers.push(d);
        localStorage.setItem('answers{{quiz.title}}', JSON.stringify(answers))
        if (answers.length == lenquestions) {
            let data = { "ans": answers, 'userid':userid }
            $.ajax({
                type: 'post',
                url: "/studies/score/{{quiz.id}}",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: (res) => {
                    let score = res.score
                    let rate = res.rate
                    localStorage.setItem(`score${id}`, res.score)
                    localStorage.setItem(`rate${id}`, res.rate)
                    localStorage.setItem(`points${id}`, res.points)
                    if (rate==0){
                        $('.stats').html(`
                                    <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-danger">
                                            <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 text-danger mb-4">What's happening here</h2>
                                            <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Please revise you lessons for GODAMN sake!
                                            </h4>
                                            <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${res.points} points</h4>
                                    </div>
                                    `)
                    }
                    else if (rate==100){
                        $('.stats').html(`
                        <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-success">
                            <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 mb-4">Oh wow!</h2>
                            <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-success text-white position-absolute left-0 top-5"></i>Correct answers: ${score}</h4>
                            <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Uncorrect answers: ${lenquestions - score}</h4>
                            <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${res.points} points</h4>

                        </div>
                    `)
                    }
                    else{
                        $('.stats').html(`
                        <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-warning">
                                <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 mb-4">You can do better than this!</h2>
                                <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-success text-white position-absolute left-0 top-5"></i>Correct answers: ${score}</h4>
                                <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Uncorrect answers: ${lenquestions - score}</h4>
                                <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${res.points} points</h4>

                            </div>
                        `)
                    }
                    
                }
            })
        }
    })
    
    // // checking the local storage
    // if (localStorage.getItem('answers{{quiz.title}}')){
    //     console.log('rr')
    //     // if we have all question answerd before
    //     if (answers.length == lenquestions) {
            
    //         // $(".question-div .card-body").fadeOut(0);
    //         // $(".question-div #question{{len+1}}").fadeIn(500);
    //         let data = { "ans": answers }
    //         let rate = localStorage.getItem(`rate${id}`)
    //         let score = localStorage.getItem(`score${id}`)
    //         let points = localStorage.getItem(`points${id}`)
    //         if (rate == 0) {
    //             $('.stats').html(`
    //                                 <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-danger">
    //                                             <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 text-danger mb-4">What's happening here</h2>
    //                                             <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Please revise you lessons for GODAMN sake!</h4>
    //                                             <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${score} points</h4>

    //                                         </div>
    //                                 `)
    //         }
    //         else if (rate == 100) {
    //             $('.stats').html(`
    //                     <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-success">
    //                         <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 mb-4">Oh wow!</h2>
    //                         <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-success text-white position-absolute left-0 top-5"></i>Correct answers: ${score}</h4>
    //                         <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Uncorrect answers: ${lenquestions - score}</h4>
    //                         <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${points} points</h4>

    //                     </div>
    //                 `)
    //         }
    //         else {
    //             $('.stats').html(`
    //                     <div class="card d-block border-0 rounded-lg overflow-hidden p-4 shadow-xss mt-4 alert-warning">
    //                             <h2 class="fw-700 font-sm mb-3 mt-1 pl-1 mb-4">You can do better than this!</h2>
    //                             <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-success text-white position-absolute left-0 top-5"></i>Correct answers: ${score}</h4>
    //                             <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24"><i class="font-xssss btn-round-xs bg-danger text-white position-absolute left-0 top-5"></i>Uncorrect answers: ${lenquestions - score}</h4>
    //                             <h4 class="font-xssss fw-600 text-grey-600 mb-3 pl-30 position-relative lh-24">You Got ${points} points</h4>

    //                         </div>
    //                     `)
    //         }
            
            
    //         for (let i = 0; i < answers.length; i++) {
    //             $($($('.options')[i]).children()[answers[i]-1]).addClass('active')
    //             $($($(".options")[i]).children()).attr('disabled', 'true')
    //             $($(".options")[i]).parent().find($('.params .next-bttn')).removeAttr('disabled')
    //         }
    //         // else
    //     } 
    //     else if(answers.length>0 && answers.length<lenquestions) {
    //         let lenanswers = answers.length
    //         for (let i = 0; i < answers.length; i++) {
    //             $($($('.options')[i]).children()[answers[i]-1]).addClass('active')
    //             $($($(".options")[i]).children()).attr('disabled', 'true')
    //             $($(".options")[i]).parent().find($('.params .next-bttn')).removeAttr('disabled')
    //         }
    //     }
    //     else{
    //         $('.options').children().removeAttr('disabled')
    //     }
    // }


    
</script>
{% endblock %}