{% extends 'studies/base.html' %}

{% block content %}

    <!-- navigation -->
    <nav class="navigation scroll-bar">
        <div class="container pl-0 pr-0">
            <div class="nav-content d-flex flex-column h-100">
                <div class="d-flex justify-content-between align-items-center p-3 fs-2">
                    <a class="bi bi-arrow-left d-inline-block" href="../"></a>
                    <a href="#" class="close-nav d-inline-block d-lg-none bi bi-x-circle">
                
                    </a>
                </div>
                {% block nav %}
                {% endblock %}
                <small class="mt-auto">
                    aitaliabdelwahed@gmail.com
                </small>
            </div>
        </div>
    </nav>
    <!-- navigation -->
    <!-- main content -->
    <div class="main-content p-xl-280">
        <div class="middle-sidebar-header bg-white">
            <button class="header-menu"></button>
            
            {% block header %}
            {% endblock %}
        </div>
        <div class="middle-sidebar-bottom">
            {% block contentq %}
            {% endblock %}
        </div>
    </div>
    <!-- main content -->


    

{% endblock %}

    
{% block js %}
    <script>
        console.log('reg')
        $('.register').on('click', (e)=>{
            console.log('zeze')
        })
    </script>
{% endblock %}