{% extends 'studies/lyt.html' %}

{% block css %}
<style>
  
</style>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-3">
    <p><a href="/studies/guided">Terms</a></p>
    <p>
      <a href="/studies/guided/shorts">Short stories</a>
    
    </p>
  </div>
  <div class="col-md-9">
    <div class="searchholder">
      <input type="text" class="form-control search" placeholder="Search for a story">
    </div>
    <div class="shorts mt-5">
      <div class="story mb-5 border">
        <h1 class="mt-3 text-center title">
          <u>The blue stones</u>
        </h1>
        <div class="tabs">
          <div class="tab">
            <input hidden type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Summary</label>
            <div class="tab-content">
              The allegory, “The Blue Stones,” tells a simple story of a sea captain and his wife. A sea captain
              names his ship
              after
              his wife and has a figurehead carved to look like her. On a trading trip, the captain helps a king
              who rewards the
              captain with two blue gemstones. He places the stones in the eyes of the figurehead. The wife
              complains that the
              captain
              should have made the gemstones into earrings for her. Secretly the wife has the stones removed from
              the figurehead,
              replacing them with blue glass.
            </div>
          </div>
          <div class="tab">
            <input hidden type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Item 2</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
            </div>
          </div>
          <div class="tab">
            <input hidden type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Item 3</label>
            <div class="tab-content">
              test
            </div>
          </div>
        </div>
    
      </div>
    
      <div class="story mb-5">
        <h1 class="mt-3">
          <u>The blue stones</u>
        </h1>
        <div class="tabs">
          <div class="tab">
            <input hidden type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Summary</label>
            <div class="tab-content">
              The allegory, “The Blue Stones,” tells a simple story of a sea captain and his wife. A sea captain
              names his ship
              after
              his wife and has a figurehead carved to look like her. On a trading trip, the captain helps a king
              who rewards the
              captain with two blue gemstones. He places the stones in the eyes of the figurehead. The wife
              complains that the
              captain
              should have made the gemstones into earrings for her. Secretly the wife has the stones removed from
              the figurehead,
              replacing them with blue glass.
            </div>
          </div>
          <div class="tab">
            <input hidden type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Item 2</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
            </div>
          </div>
          <div class="tab">
            <input hidden type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">Item 3</label>
            <div class="tab-content">
              test
            </div>
          </div>
        </div>
    
      </div>
    
    </div>

  </div>
</div>


{% endblock %}
{% block js %}
<script src="/static/js/studies/script.js"></script>
{% endblock %}