{% extends 'studies/lyt.html' %}

{% block css %}
<style>
  
</style>
{% endblock %}


{% block content %}
<div class="row">
  <div class="mb-2 col-md-3 position-relative">
    <div class="card p-2 position-sticky top-0">
      <p><a href="/studies/guided">Terms</a></p>
      <p>
        <a href="/studies/guided/shorts">Short stories</a>
  
      </p>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card p-2">
      <div class="searchholder">
        <input type="text" class="form-control search" placeholder="Search for a story">
      </div>
      <div class="shorts mt-5">
      
      
      
      
      </div>
      <hr>
    </div>
    
  </div>
</div>


{% endblock %}
{% block js %}
<script src="/static/js/studies/shorts.js"></script>
{% endblock %}