{% extends "studies/lyt.html" %}

{% block title %}
<title>
    {% if title %}{{title}} - Writing paragraph S1 - English studies {% else %} Writing paragraph S1 - English
    studies{% endif
    %}
</title>
{% endblock %}




{% block content %}
<div class="row">
    <div class="col-md-4 position-relative">
        <div class="card p-2 position-sticky top-2">
            <p>
                This section is for the module of {{m}}
            </p>

            <ul>
                <li>
                    <a href="#pro">Process of writing</a>
                </li>
                <li>
                    <a href="#pr">Pre-writing</a>
                </li>
                <li><a href="#dv">development of a paragraph</a></li>
                <li><a href="#ds">Descriptive and process paragraph</a></li>
                <li><a href="op">Openion paragraphs</a></li>
                <li><a href="#cmp">Comparison/contrast paragraphs</a></li>
            </ul>
            <span class="answer">Paragraph:</span> is a distinct section of writing covering one topic. A paragraph will
            usually
            contain more than one
            sentence. A typical paragraph will be 5-7 sentences
        </div>
    </div>
    <div class="col-md-8 mt-3 mt-md-0">
        <div>
            {% block writingc%}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}